<div *ngIf="showForm">
  <div class="row clearfix">
    <div class="col-md-6">
      <p><b>Bill No : </b>{{ consumerBill?.BillNo }}</p>
      <p><b>Name : </b>{{ consumerBill?.Name }}</p>
    </div>
    <div class="col-md-6">
      <p><b>Email : </b>{{ consumerBill?.EmailID }}</p>
      <p><b>Phone No : </b>{{ consumerBill?.PhoneNo }}</p>
    </div>
  </div>
  <div class="card" *ngIf="consumerBill?.Detail?.length > 0">
    <div class="header padding_fix">
      <p><b>
        Current JOB Bills
      </b></p>
    </div>
    <div class="body table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th><small>Invoice</small></th>
            <th><small>Name</small></th>
            <th><small>Phone</small></th>
            <th><small>Purchase Date</small></th>
            <th><small>Total Amount</small></th>
            <th><small>Action</small></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of consumerBill?.Detail">
            <th><small>{{ bill.Invoice }}</small></th>
            <th><small>{{ bill.Name }}</small></th>
            <th><small>{{ bill.Phone }}</small></th>
            <th><small>{{ bill?.PurchaseDate }}</small></th>
            <th><small>{{ bill.TotalAmount }}</small></th>
            <th><small><span class="btn btn-info btn-xs" title="View" (click)="getDetailofCurrentBill(bill)" ><i class="material-icons" >visibility</i></span></small></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card" *ngIf="consumerBill?.ProductDetail?.length > 0">
    <div class="header padding_fix">
      <p><b>
          Current JOB Products
        </b></p>
    </div>
    <div class="body table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th><small>Product Name</small></th>
            <th><small>Main Category</small></th>
            <th><small>Category</small></th>
            <th><small>Brand</small></th>
            <th><small>Tag</small></th>
            <th><small>Value</small></th>
            <th><small>Action</small></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of consumerBill?.ProductDetail">
            <th><small>{{ bill.ProductName }}</small></th>
            <th><small>{{ bill.MasterCatName }}</small></th>
            <th><small>{{ bill.CatName }}</small></th>
            <th><small>{{ bill.brand_name }}</small></th>
            <th><small>{{ bill.Tag }}</small></th>
            <th><small>{{ bill.Value }}</small></th>
            <th><small><span class="btn btn-info btn-xs" title="Edit"><i class="material-icons" >visibility</i></span></small></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6">
      <button class="btn bg-orange btn-block btn-lg" (click)="reAssign()">Reassign</button>
    </div>
    <div class="col-md-6">
      <button class="btn bg-indigo btn-block btn-lg" (click)="taskComplete()">Complete Task</button>
    </div>
  </div>
</div>

<!-- general form start -->
<div *ngIf="showGeneralForm">
  <h4>
    <u>General</u>
    <u>Information </u>
  </h4>
  <hr>
  <div class="row clearfix">
    <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Bill Image</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="BillImage" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div> -->
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Name : </b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.BillDetail[0].Name}}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Phone No</b></small>
    </div>
    <div class="col-lg-4 col-md-4 ">
      <div class="form-group">
        <p>{{billDetailbyID?.BillDetail[0].PhoneNo}}</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Email ID : </b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.BillDetail[0].EmailID}}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Invoice Number: </b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.BillDetail[0].InvoiceNo}}</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Total Value :</b></small>
    </div>
    <div class="col-lg-4 col-md-4 ">
      <div class="form-group">
        <p>{{billDetailbyID?.BillDetail[0].TotalValue}}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Taxes </b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.BillDetail[0].Tax}}</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Date of Purchase :</b></small>
    </div>
    <div class="col-lg-4 col-md-4 ">
      <div class="form-group">
        <p>{{billDetailbyID?.BillDetail[0].PurchaseDate}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="billDetailbyID?.BillImage?.length > 0">
    <div class="row clearfix">
      <div *ngFor="let image of billDetailbyID?.BillImage">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" *ngIf="image">
            <img src="http://52.66.17.137:3000/bills/{{image?.ImageID}}/files">
            <div class="caption">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6">
      <button class="btn bg-orange btn-block btn-lg" type="button" (click)="backToGeneral()">Back</button>
    </div>
    <div class="col-md-6">
      <button class="btn bg-green btn-block btn-lg" type="button" (click)="nextToSeller()">Next</button>
    </div>
  </div>

</div>
<!-- general form end -->

<!-- seller form start -->
<div *ngIf="showSellerForm">
  <h4>
    <u>Seller</u>
    <u>Information </u>
  </h4>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Online Seller </b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.BillOnlineSeller[0]?.SellerName}}</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Offline Seller</b></small>
    </div>
    <div class="col-lg-4 col-md-4 ">
      <div class="form-group" *ngFor="let seller of billDetailbyID?.BillOfflineSeller">
        <p>{{seller?.SellerName}}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6">
      <button class="btn bg-orange btn-block btn-lg" type="button" (click)="backToGeneralInfo()">Back</button>
    </div>
    <div class="col-md-6">
      <button class="btn bg-green btn-block btn-lg" type="button" (click)="nextToProductInfo()">Next</button>
    </div>
  </div>
</div>
<!-- seller form end -->

<!-- Product General Form Start -->
<div *ngIf="showProductFormList">
  <h4>
    <u>Product</u>
    <u>Information </u>
  </h4>
  <hr>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Product Name</b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.ProductList[0]?.ProductName}}</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Value</b></small>
    </div>
    <div class="col-lg-4 col-md-4 ">
      <div class="form-group">
        <p>{{billDetailbyID?.ProductList[0]?.Value}}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Taxes</b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.ProductList[0]?.Taxes}}</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Color</b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.ProductList[0]?.ColorName}}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Brand</b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.ProductList[0]?.BrandName}}</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Main Category</b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.ProductList[0]?.MasterCatName}}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Category</b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
        <p>{{billDetailbyID?.ProductList[0]?.CatName}}</p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>Tag</b></small>
    </div>
    <div class="col-lg-4 col-md-4 ">
      <div class="form-group">
        <p>{{billDetailbyID?.ProductList[0]?.Tag}}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6">
      <button class="btn bg-orange btn-block btn-lg" type="button" (click)="backToSellorForm()">Back</button>
    </div>
    <div class="col-md-6">
      <button class="btn bg-green btn-block btn-lg" type="button" (click)="nextToProductForm()">Next</button>
    </div>
  </div>
</div>
<!-- Product General Form End -->

<!-- Product Form Start -->
<div *ngIf="showProductForm">
  <h5>
    <u>Product Form</u>
  </h5>
  <div class="row clearfix" *ngFor="let data of billDetailbyID?.ProductForm">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
      <small><b>{{data?.CatFormName}}</b></small>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group" *ngIf="!data?.DropdownValue">
        <p>{{data?.value}}</p>
      </div>
      <div class="form-group" *ngIf="data?.DropdownValue">
        <p>{{data?.DropdownValue}}</p>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6">
      <button class="btn bg-orange btn-block btn-lg" type="button" (click)="backToProductInfo()">Back</button>
    </div>
    <div class="col-md-6">
      <button class="btn bg-green btn-block btn-lg" type="button" (click)="nextToInsuranceForm()">Next</button>
    </div>
  </div>
</div>
<!-- Product Form End -->

<!-- Insurance Form Start -->
<div *ngIf="showInsuranceForm">
  <div *ngIf="billDetailbyID?.InsuranceList.length>0 else elseTemplate">
    <h4>
      <u>Insurance</u>
      <u>Form </u>
    </h4>
    <hr>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Plan</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.InsuranceList[0].Plan}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy No.</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.InsuranceList[0].PolicyNo}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Amount Insured</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.InsuranceList[0].AmountInsured}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Premium Type</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.InsuranceList[0].PremiumType}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Premium Amount</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.InsuranceList[0].PremiumAmount}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy Effective Date</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.InsuranceList[0].PolicyEffectiveDate}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy Expiry Date</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.InsuranceList[0].PolicyExpiryDate}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix" *ngIf="billDetailbyID?.InsuranceInclusions.length > 0 || billDetailbyID?.InsuranceExclusions.length">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Inclusions</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group" *ngFor="let list of billDetailbyID?.InsuranceInclusions">
          <p>{{list?.InclusionsName}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Exclusions</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group" *ngFor="let list of billDetailbyID?.InsuranceExclusions">
          <p>{{list?.ExclusionsName}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div *ngIf="billDetailbyID?.InsuranceList[0].BrandName">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Brand</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <p>{{billDetailbyID?.InsuranceList[0].BrandName}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="billDetailbyID?.InsuranceList[0].SellerName">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Seller</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <p>{{billDetailbyID?.InsuranceList[0].SellerName}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="billDetailbyID?.InsuranceImage?.length > 0">
      <div class="row clearfix">
        <div *ngFor="let image of billDetailbyID?.InsuranceImage">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail" *ngIf="image">
              <img src="http://52.66.17.137:3000/bills/{{image?.ImageID}}/files">
              <div class="caption">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseTemplate>
    <h3>Insurance Not Available</h3>
  </ng-template>
  <div class="row clearfix">
    <div class="col-md-6">
      <button class="btn bg-orange btn-block btn-lg" type="button" (click)="backToProductForm()">Back</button>
    </div>
    <div class="col-md-6">
      <button class="btn bg-green btn-block btn-lg" type="button" (click)="nextToWarrantyForm()">Next</button>
    </div>
  </div>
</div>
<!-- Insurance Form End -->



<!-- Warranty Form Start -->
<div *ngIf="showWarrantyForm">
  <div *ngIf="billDetailbyID?.WarrantyList.length>0 else elseTemplate">
    <h4>
      <u>Warranty</u>
      <u>Form </u>
    </h4>
    <hr>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy No.</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.WarrantyList[0].PolicyNo}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Premium Type</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.WarrantyList[0].PremiumType}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Premium Amount</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.WarrantyList[0].PremiumAmount}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy Effective Date</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.WarrantyList[0].PolicyEffectiveDate}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy Expiry Date</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.WarrantyList[0].PolicyExpiryDate}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Inclusions</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group" *ngFor="let list of billDetailbyID?.WarrantyInclusions">
          <p>{{list.InclusionsName}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Exclusions</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group" *ngFor="let list of billDetailbyID?.WarrantyExclusions">
          <p>{{list?.ExclusionsName}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div *ngIf="billDetailbyID?.WarrantyList[0].BrandName">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Brand</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <p>{{billDetailbyID?.WarrantyList[0].BrandName}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="billDetailbyID?.InsuranceList[0].SellerName">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Seller</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <p>{{billDetailbyID?.WarrantyList[0].SellerName}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="billDetailbyID?.WarrantyImage?.length > 0">
      <div class="row clearfix">
        <div *ngFor="let image of billDetailbyID?.WarrantyImage">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail" *ngIf="image">
              <img src="http://52.66.17.137:3000/bills/{{image?.ImageID}}/files">
              <div class="caption">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseTemplate>
    <h3>Warranty Not Available</h3>
  </ng-template>
  <div class="row clearfix">
    <div class="col-md-6">
      <button class="btn bg-orange btn-block btn-lg" type="button" (click)="backToInsuranceForm()">Back</button>
    </div>
    <div class="col-md-6">
      <button class="btn bg-green btn-block btn-lg" type="button" (click)="nextToAMCForm()">Next</button>
    </div>
  </div>
</div>
<!-- Warranty Form End -->


<!-- AMC Form Start -->
<div *ngIf="showAMCForm">
  <div *ngIf="billDetailbyID?.AMCList.length>0 else elseTemplate">
    <h4>
      <u>AMC</u>
      <u>Form </u>
    </h4>
    <hr>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy No.</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.AMCList[0].PolicyNo}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Premium Type</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.AMCList[0].AMCType}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Premium Amount</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.AMCList[0].PremiumAmount}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy Effective Date</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.AMCList[0].PolicyEffectiveDate}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy Expiry Date</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.AMCList[0].PolicyExpiryDate}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Inclusions</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group" *ngFor="let list of billDetailbyID?.AMCInclusions">
          <p>{{list?.InclusionsName}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Exclusions</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group" *ngFor="let list of billDetailbyID?.AMCExclusions">
          <p>{{list?.ExclusionsName}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div *ngIf="billDetailbyID?.WarrantyList[0].BrandName">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Brand</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <p>{{billDetailbyID?.AMCList[0].BrandName}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="billDetailbyID?.InsuranceList[0].SellerName">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Seller</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <p>{{billDetailbyID?.AMCList[0].SellerName}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="billDetailbyID?.AMCImage?.length > 0">
      <div class="row clearfix">
        <div *ngFor="let image of billDetailbyID?.AMCImage">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail" *ngIf="image">
              <img src="http://52.66.17.137:3000/bills/{{image?.ImageID}}/files">
              <div class="caption">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseTemplate>
    <h3>AMC Not Available</h3>
  </ng-template>
  <div class="row clearfix">
    <div class="col-md-6">
      <button class="btn bg-orange btn-block btn-lg" type="button" (click)="backToWarrantyForm()">Back</button>
    </div>
    <div class="col-md-6">
      <button class="btn bg-green btn-block btn-lg" type="button" (click)="nextToRepairForm()">Next</button>
    </div>
  </div>
</div>
<!-- AMC Form End -->


<!-- Repair Form Start -->
<div *ngIf="showRepairForm">
  <div *ngIf="billDetailbyID?.RepairList.length>0 else elseTemplate">
    <h4>
      <u>Repair</u>
      <u>Form </u>
    </h4>
    <hr>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Repair Value</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.RepairList[0].RepairValue}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Taxes</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.RepairList[0].Taxes}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Repair Invoice Number</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <p>{{billDetailbyID?.RepairList[0].RepairInvoiceNumber}}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Repair Date</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <p>{{billDetailbyID?.RepairList[0].RepairDate}}</p>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div *ngIf="billDetailbyID?.WarrantyList[0].BrandName">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Brand</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <p>{{billDetailbyID?.RepairList[0].BrandName}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="billDetailbyID?.InsuranceList[0].SellerName">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Seller</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <p>{{billDetailbyID?.RepairList[0].SellerName}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="billDetailbyID?.RepairImage?.length > 0">
      <div class="row clearfix">
        <div *ngFor="let image of billDetailbyID?.RepairImage ">
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail" *ngIf="image">
              <img src="http://52.66.17.137:3000/bills/{{image?.ImageID}}/files">
              <div class="caption">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseTemplate>
    <h3>Repair Not Available</h3>
  </ng-template>
  <div class="row clearfix">
    <div class="col-md-6">
      <button class="btn bg-orange btn-block btn-lg" type="button" (click)="backToRepairForm()">Back</button>
    </div>
    <div class="col-md-6">
      <button class="btn bg-green btn-block btn-lg" type="button" (click)="backToGeneral()">Finish</button>
    </div>
  </div>
</div>
<!-- Repair Form End -->


<!-- reassign panel -->
<app-dialog [(visible)]="showDialog">
  <div class="modal-header">
    <h4 class="modal-title" id="smallModalLabel">Re-assign Bill</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]='assignForm' (ngSubmit)="assignBill(assignForm.value)">
      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Comments</label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <textarea rows="5" cols="60" formControlName="Comments"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-offset-9 col-md-offset-9 col-sm-offset-4 col-xs-offset-5">
          <input type="submit" value="Re-assign" class="btn btn-success  m-t-15 waves-effect" [disabled]="!assignForm.valid">
        </div>
      </div>
    </form>
  </div>
</app-dialog>
