<div>
  <form #productInfoForm="ngForm" (ngSubmit)="productInfoFormData(productInfoForm)">
    <h4>
      <u>Product</u>
      <u>Information </u>
    </h4>
    <hr>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Product Name</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="ProductName" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Value</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="Value" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Taxes</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="Taxes" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Color</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <select class="form-control dropdown" name="ColorID" ngModel>
                <option>Select</option>
                  <option *ngFor = "let color of colorList?.ColorList" ngValue="{{color.ID}}">{{ color.Name }}</option>
              </select>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Brand</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <select class="form-control dropdown" name="BrandID" ngModel>
                  <option>Select</option>
                    <option *ngFor = "let brand of brandList?.BrandList" ngValue="{{brand.ID}}">{{ brand.Name }}</option>
                </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Main Category</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <select class="form-control dropdown" (change)="onSelectMainCategory($event.target.value)" name="MasterCatID" ngModel>
                  <option>Select</option>
                    <option *ngFor = "let mainCat of mainCategory?.CategoryList" ngValue="{{mainCat.ID}}">{{ mainCat.Name }}</option>
                </select>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Category</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <select class="form-control dropdown" (change)="onSelectCategory($event.target.value)" name="CatID" ngModel>
                <option>Select</option>
                  <option *ngFor = "let subCat of getSubCatList?.CategoryList"  ngValue="{{subCat.ID}}">{{ subCat.Name }}</option>
              </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Tag</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="Tag" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-8 col-md-8 col-md-offset-4 col-xs-offset-5 text-right">
        <button type="submit" class="btn btn-md btn-success m-t-15 waves-effect">Submit</button>
        <button class="btn btn-md btn-info m-t-15 waves-effect" [routerLink]="['pf']" [queryParams]="{ID:productFormID}">Next</button>
      </div>
    </div>
  </form>
</div>
