<div>
    <form #insuranceForm="ngForm" (ngSubmit)="insuranceFormData(insuranceForm)">
    <h4>
      <u>Insurance</u>
      <u>Form </u>
    </h4>
    <hr>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Insurance Image</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <div class="form-line">
              <input type="text" name="InsuranceImage" class="form-control input_fix" ngModel>
            </div>
          </div>
        </div>
      </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Plan</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="Plan" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy No.</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="PolicyNo" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Amount Insured</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="AmountInsured" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Invoice Number</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="In" class="form-control input_fix">
          </div>
        </div>
      </div> -->
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Premium Type</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="PremiumType" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Premium Amount</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text"name="PremiumAmount" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy Effective Date</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="PolicyEffectiveDate" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Policy Expiry Date</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="PolicyExpireDate" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Inclusions</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
            <select class="form-control dropdown" name="Inclusions" ngModel>
                <option>Select</option>
                <option *ngFor="let list of inclusionList?.InclusionsList">{{ list.Name}}</option>
              </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Exclusions</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
            <select class="form-control dropdown" name="Exclusions" ngModel>
                <option>Select</option>
                <option *ngFor="let list of exclusionList?.ExclusionsList">{{ list.Name}}</option>
              </select>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Type</b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <select class="form-control dropdown" (change)="selectType($event.target.value)">
                <option>Select</option>
                  <option value="brand">Brand</option>
                  <option value="seller">Seller</option>
              </select>
        </div>
      </div>
      <div *ngIf="selectDropdown == 'brand'">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Brand</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
              <select class="form-control dropdown" name="BrandID" ngModel>
                  <option>Select</option>
                  <option *ngFor="let list of brandList?.BrandList">{{ list.Name}}</option>
                </select>
          </div>
        </div>
      </div>
      <div *ngIf="selectDropdown == 'seller'">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Select Seller</b></small>
          </div>
          <div class="col-lg-4 col-md-4 ">
            <div class="form-group">
                <select class="form-control dropdown" name="SellerInfo" ngModel>
                    <option>Select</option>
                    <option *ngFor="let list of offlineSellerList?.OfflineSellerList">{{ list.Name}}</option>
                  </select>
            </div>
          </div>
        </div>
    </div>
    <!-- offline seller -->
    <div class="body" *ngIf="selectDropdown=='seller'">
      <b><p class="text-center">Or , Create a Seller</p></b>
      <form class="form-horizontal" [formGroup]='offlineSellerForm' (ngSubmit)="createOfflineSeller(offlineSellerForm.value)">
        <h4>
          <u>Seller Information </u>
        </h4>
        <hr>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Name</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="Name" class="form-control" placeholder="Enter Name  here">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Owner Name</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="OwnerName" class="form-control" placeholder="Enter Owner Name here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Gstin No</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="GstinNo" class="form-control" placeholder="Enter GstinNo here">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Pan No</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="PanNo" class="form-control" placeholder="Enter Pan No here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Reg No</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="RegNo" class="form-control" placeholder="Enter RegNo here">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Service Provider</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="ServiceProvider" class="form-control" placeholder="Enter Service Provider Name here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Onboarded</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="Onboarded" class="form-control" placeholder="Enter Onboarded here">
              </div>
            </div>
          </div>
        </div>
        <h4>
          <u>Address </u>
        </h4>
        <hr>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>House No</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="HouseNo" class="form-control" placeholder="Enter House No here">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Block</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="Block" class="form-control" placeholder="Enter Block Name here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Street</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="Street" class="form-control" placeholder="Enter Street Name here">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Sector</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="Sector" class="form-control" placeholder="Enter Sector here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>City</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="City" class="form-control" placeholder="Enter City Name here">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>State</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="State" class="form-control" placeholder="Enter State Name here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>PinCode</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="PinCode" class="form-control" placeholder="Enter PinCode here">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>NearBy</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="NearBy" class="form-control" placeholder="Enter NearBy Name here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Lattitude</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="Lattitude" class="form-control" placeholder="Enter Lattitude Name here">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Longitude</b></small>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="Longitude" class="form-control" placeholder="Enter Longitude here">
              </div>
            </div>
          </div>
        </div>
        <!-- template for add row  -->
        <h4>
          <u>Details </u>
        </h4>
        <div class="row clearfix">
          <div class="pull-right margin-right">
            <button type="button" class="btn btn-info m-t-15 waves-effect" (click)="addItemOffline()">Add More Deatils</button>
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div formArrayName="Details" *ngFor="let item of offlineSellerForm.controls.Details['controls']; let i = index;">
            <br>
            <div class="row clearfix" [formGroupName]="i">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-md-offset-1 col-sm-offset-1 col-lg-offset-1">
                <small><b>
                          Type
                      </b></small>
                <select class="form-control dropdown" formControlName="DetailTypeID">
                          <option selected>Select</option>
                          <option value="1">URL</option>
                          <option value="2">Email ID</option>
                          <option value="3">Phone Number</option>
                          </select>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <small><b>
                          Display Name
                      </b></small>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" formControlName="DisplayName">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <small><b>
                          Details
                      </b></small>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" formControlName="Details">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <button type="button" class="btn btn-danger m-t-15 waves-effect" *ngIf="offlineSellerForm.controls['Details'].length > 1"
                  (click)="removeDetailsOffline(i)">Remove</button>
              </div>
            </div>
          </div>
        </div>
        <!-- template for add row end  -->
        <div class="row clearfix">
          <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
            <button type="submit" class="btn btn-md btn-success btn-block m-t-15 waves-effect" [disabled]="!offlineSellerForm.valid">Add Seller</button>
          </div>
        </div>
      </form>
    </div>
    <!-- end offline seller -->
    <div class="row clearfix">
      <div class="col-lg-8 col-md-8 col-md-offset-4 text-right">
        <button type="submit" class="btn btn-md btn-info m-t-15 waves-effect" (click)="backClicked()">ADD Insurance Form</button>          
        <button type="button" class="btn btn-md btn-warning m-t-15 waves-effect" (click)="skip()">Skip</button>
      </div>
    </div>
  </form>
</div>
