.mains {
    border-bottom: 1px solid #ccc;
  }
  .text-bold{
    font-weight: bold;
  }
  .text-orange{
    color: orange;
  }
  .link{
    cursor: pointer;

  }
  .pager{
      text-align: right;
  }
  .disabled{
      display: none;
  }
  
  