.card .header {
    padding-bottom: 4px;
    padding-top: 10px;
  }
  
  .input_fix {
    margin-top: -10px;
  }
  
  .form-group {
    margin-bottom: 0px !important;
  }
  
  .btn-circle {
    margin-top: 16px;
    margin-right: 5px;
  }
  
  .dropdown {
    border: 1px solid #ccc;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      /* appearance: none; */
      margin: 0; 
  }
  