<div>
    <div class="row clearfix">
      <div class="col-md-6">
        <p><b>Bill No : </b>{{ consumerBill?.BillNo }}</p>
        <p><b>Name : </b>{{ consumerBill?.Name }}</p>
      </div>
      <div class="col-md-6">
        <p><b>Email : </b>{{ consumerBill?.EmailID }}</p>
        <p><b>Phone No : </b>{{ consumerBill?.PhoneNo }}</p>
      </div>
    </div>
    <div class="card">
      <div class="header padding_fix">
        <h2>
          Previous Bills
          <small>Click on Edit button for edit bills</small>
        </h2>
      </div>
      <div class="body table-responsive">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th><small>Invoice</small></th>
              <th><small>Name</small></th>
              <th><small>Phone</small></th>
              <th><small>Purchase Date</small></th>
              <th><small>Total Amount</small></th>
              <th><small>Action</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bill of consumerBill?.Detail">
              <th><small>{{ bill.Invoice }}</small></th>
              <th><small>{{ bill.Name }}</small></th>
              <th><small>{{ bill.Phone }}</small></th>
              <th><small>{{ bill.PurchaseDate | date }}</small></th>
              <th><small>{{ bill.TotalAmount }}</small></th>
              <th><small><span class="btn btn-info btn-xs" (click)="editPreBill(bill)" title="Edit"><i class="material-icons" >mode_edit</i></span></small></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-3 col-md-offset-4">
        <button class="btn bg-indigo btn-block btn-lg" routerLink ="generalInfo">Add Bill</button>
      </div>
    </div>
  </div>