<div class="card">
  <div class="header">
    <h2>Send Notification</h2>
  </div>
  <br>
  <div>
    <form class="form-horizontal" [formGroup]='assignForm' (ngSubmit)="addNotification(assignForm.value)">
      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Title</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
          <div class="form-group">
            <input type="text" class="form-control mains" formControlName="title">
          </div>
        </div>
      </div>
      <br>
      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Description</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
          <div class="form-group">
            <input type="text" class="form-control mains" formControlName="description">
          </div>
        </div>
      </div>
      <br>

      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Image Url</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
          <div class="form-group">
            <input type="text" class="form-control mains" formControlName="image_url">
          </div>
        </div>
      </div>
      <br>

      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Link</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
          <div class="form-group">
            <input type="text" class="form-control mains" formControlName="link">
          </div>
        </div>
      </div>
      <br>

      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Type</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
          <div class="form-group">
            <input type="number" class="form-control mains" formControlName="notification_type">
          </div>
        </div>
      </div>
      <br>

      <div class="well" style="width: 1100px;margin-left: 90px;">
        <div class="row">
          <div class="col-md-2">
            Category
            <select class="form-control dropdown mains" name="category_id" (change)="getBrandListByCategory($event.target.value)">
              <option value=" ">Select</option>
              <option *ngFor="let list of category?.data; let i = index" [value]="list?.category_id">{{list?.category_name}}</option>
            </select>
          </div>
          <div class="col-md-2">
            Brand
            <select class="form-control dropdown mains" name="brand_id" (change)="getBrandId($event.target.value)">
              <option value="">Select</option>
              <option *ngFor="let list of brands?.data; let i = index" [value]="list?.brand_id">{{list?.brand_name}}</option>
            </select>
          </div>
          <div class="col-md-3">
            Start Date
            <input class="form-control dropdown mains" type="date" name="startDate" (input)="getStartDate($event.target.value)">
          </div>
          <div class="col-md-3">
            End Date
            <input class="form-control dropdown mains" type="date" name="endDate" (input)="getEndDate($event.target.value)">
          </div>
          <div class="col-md-2">
            <span *ngIf="loader" class="text-bold">
              <img src="{{imageUrl}}" alt="loader" class="img-responsive" style="margin-left: 5px;width:60px">Please Wait</span>
            <button *ngIf="loader == false" style="margin-top:20px;" type="button" (click)="getUserDate()" class="btn btn-sm btn-success btn-block">Submit</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button style="margin-top:15px;" class="btn btn-sm btn-info btn-block" (click)="selectAll()" type="button">Select All Users</button>
          </div>
          <div class="col-md-3">
            <input style="margin-top:15px;" type="text" maxlength="10" (keyup)="mobileChange($event.target.value)" class="form-control mains"
              placeholder="search mobile no.">
          </div>
          <div class="col-md-7">
            <span *ngIf="request" class="text-bold">
              <img src="{{imageUrl}}" alt="loader" class="img-responsive" style="margin-left: 5px;width:60px">Please Wait</span>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="body table-responsive" style="padding:0% 12%">
        <nav>
          <ul class="pager">
            <li [ngClass]="{ 'disabled': leftFlag }">
              <a class="waves-effect" (click)="left()">Previous</a>
            </li>
            <li [ngClass]="{ 'disabled': rightFlag }">
              <a class="waves-effect" (click)="right()">Next</a>
            </li>
          </ul>
        </nav>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>
                <small>#</small>
              </th>
              <th>
                <small>User Name</small>
              </th>
              <th>
                <small>Email</small>
              </th>
              <th>
                <small>Mobile No.</small>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notifications of notification">
              <th>
                <input type="checkbox" (click)="clicked($event,notifications?.id)" formControlName="user_id" style="position: relative;left: 0;opacity: 1;margin-top: 10px;"
                  [checked]="checkAll">
              </th>
              <th>
                <small>{{notifications?.full_name }}</small>
              </th>
              <th>
                <small>{{notifications?.email}}</small>
              </th>
              <th>
                <small>{{notifications?.mobile_no}}</small>
              </th>
            </tr>
          </tbody>
        </table>
        <ng-template #elseBlock>
          <h4> No Data Available </h4>
        </ng-template>
      </div>
      <div class="row">
        <div class="col-md-11 text-center" style="padding:4%;margin-left:6%;">
          <button class="btn bg-green btn-md btn-lg" type="submit">Send Notification</button>
        </div>
      </div>
    </form>
  </div>
</div>