<div class="card">
  <div class="header">
    <h2>Add Models</h2>
  </div>

  <div>
    <form class="form-horizontal" [formGroup]='assignForm' (ngSubmit)="addModels(assignForm.value)">
      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Main Category</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
          <div class="form-group">
            <select class="form-control dropdown mains" (change)="onSelectMainCat($event.target.value)">
              <option value="">Select</option>
              <option *ngFor="let mainCategoryList of mainCat?.data" [value]="mainCategoryList?.category_id">{{ mainCategoryList?.category_name }}</option>
            </select>
          </div>
        </div>
      </div>
      <br>

      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Category</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
          <div class="form-group">
            <select class="form-control dropdown mains" formControlName="category_id" (change)="onSelectCat2($event.target.value)">
              <option value="">Select</option>
              <option *ngFor="let categoryList of cat" [value]="categoryList?.category_id">{{ categoryList?.category_name }}</option>
            </select>
          </div>
        </div>
      </div>
      <br>

      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Brand List</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
          <div class="form-group">
            <select class="form-control dropdown mains" formControlName="brand_id">
              <option value="">Select</option>
              <option *ngFor="let categoryList of catForms" [value]="categoryList?.brand_id">{{ categoryList?.brand_name }}</option>
            </select>
          </div>
        </div>
      </div>
      <br>

      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Model Name</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
          <div class="form-group">
            <input type="text" class="form-control mains" formControlName="title">
          </div>
        </div>
      </div>
      <br>

      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Warranty Type</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
          <div class="form-group">
            <select class="form-control dropdown mains" formControlName="warranty_renewal_type">
              <option value="">Select</option>
              <option value=7>6 Month</option>
              <option value=8>1 Year</option>
              <option value=22>1.5 Years</option>
              <option value=9>2 Years</option>
              <option value=10>3 Years</option>
              <option value=11>4 Years</option>
              <option value=12>5 Years</option>
              <option value=13>6 Years</option>
              <option value=14>7 Years</option>
              <option value=15>8 Years</option>
              <option value=16>9 Years</option>
              <option value=17>10 Years</option>
              <option value=18>15 Years</option>
              <option value=19>20 Years</option>
              <option value=20>50 Years</option>
              <option value=21>Lifetime</option>
            </select>
          </div>
        </div>
      </div>
      <br>

      <!-- <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Dual Warranty Type</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
          <div class="form-group">
            <select class="form-control dropdown mains" formControlName="dual_renewal_type">
              <option value="">Select</option>
              <option value=7>6 Month</option>
              <option value=8>1 Year</option>
              <option value=22>1.5 Years</option>
              <option value=9>2 Years</option>
              <option value=10>3 Years</option>
              <option value=11>4 Years</option>
              <option value=12>5 Years</option>
              <option value=13>6 Years</option>
              <option value=14>7 Years</option>
              <option value=15>8 Years</option>
              <option value=16>9 Years</option>
              <option value=17>10 Years</option>
              <option value=18>15 Years</option>
              <option value=19>20 Years</option>
              <option value=20>50 Years</option>
              <option value=21>Lifetime</option>
            </select>
          </div>
        </div>
      </div>
      <br> -->

      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Product Type</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
          <div class="form-group">
            <input type="text" class="form-control mains" formControlName="product_type">
          </div>
        </div>
      </div>
      <br>

      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Category Form1 Value</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 ">
          <div class="form-group">
            <input type="text" class="form-control mains" formControlName="category_form_1_value">
          </div>
        </div>
      </div>
      <br>


      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
          <label class="font-small">Category Form2 Value</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
          <div class="form-group">
            <input type="text" class="form-control mains" formControlName="category_form_2_value">
          </div>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-11 text-center" style="padding:4%;margin-left:6%;">
            <span *ngIf="loader" class="text-bold" style="margin-right:220px;">
                <img src="{{imageUrl}}" alt="loader">Please Wait</span>
          <button *ngIf="!loader" class="btn bg-green btn-md btn-lg" type="submit">Add Models</button>
        </div>
      </div>
    </form>
  </div>
</div>