<div class="card">
  <div class="header">
      <h2>
          Offline Seller List
          <small> For change the Offline Seller details click on the edit button</small>
      </h2>
  </div>
  <div class="body table-responsive">
      <table class="table table-condensed table-bordered">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Owner Name</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Action</th>
              </tr>
          </thead>
           <tbody *ngFor="let list of offlineSeller.OfflineSellerList; let i = index">
              <tr>
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ list.Name }}</td>
                  <td>{{ list.OwnerName }}</td>
                  <td>{{ list.City }}</td>
                  <td>{{ list.State }}</td>
                  <td><span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="openOfflineSellerModel(list.ID)" title="Edit"><i class="material-icons" >mode_edit</i></span>  <span class="btn btn-danger btn-circle waves-effect waves-circle waves-float" (click)="deleteOfflineSeller(list)" title="Delete"><i class="material-icons">delete</i></span></td>
              </tr>
          </tbody>
      </table>
  </div>
    <app-dialog [(visible)]="showDialog">
      <div class="modal-header">
          <h4 class="modal-title" id="smallModalLabel">Edit Brand</h4>
      </div>
      <div class="modal-body">
    <form class="form-horizontal" [formGroup]='offlineSellerForm' (ngSubmit) = "updateOfflineSeller(offlineSellerForm.value)">
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Name" class="form-control" placeholder="Enter Name  here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Owner Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="OwnerName" class="form-control" placeholder="Enter Owner Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Gstin No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="GstinNo" class="form-control" placeholder="Enter GstinNo here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Pan No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="PanNo" class="form-control" placeholder="Enter Pan No here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Reg No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="RegNo" class="form-control" placeholder="Enter RegNo here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Service Provider</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="ServiceProvider" class="form-control" placeholder="Enter Service Provider Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Onboarded</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Onboarded" class="form-control" placeholder="Enter Onboarded here">
                    </div>
                </div>
            </div>
        </div>
        <h4> <u>Address </u></h4>
        <hr>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">House No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="HouseNo" class="form-control" placeholder="Enter House No here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Block</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Block" class="form-control" placeholder="Enter Block Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Street</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Street" class="form-control" placeholder="Enter Street Name here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Sector</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Sector" class="form-control" placeholder="Enter Sector here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">City</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="City" class="form-control" placeholder="Enter City Name here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">State</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="State" class="form-control" placeholder="Enter State Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">PinCode</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="PinCode" class="form-control" placeholder="Enter PinCode here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">NearBy</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="NearBy" class="form-control" placeholder="Enter NearBy Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Lattitude</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Lattitude" class="form-control" placeholder="Enter Lattitude Name here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Longitude</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Longitude" class="form-control" placeholder="Enter Longitude here">
                    </div>
                </div>
            </div>
        </div>
        <!-- template for add row  -->
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="Details">Details</label>
            </div>
            <div class="pull-right margin-right">
                <button type="button" class="btn btn-info m-t-15 waves-effect" (click)="addItem()">Add More</button>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div formArrayName="Details" *ngFor="let item of offlineSellerForm.controls['Details']; let i = index;">
            <br>
                <div class="row clearfix" [formGroupName]="i">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-md-offset-1 col-sm-offset-1 col-lg-offset-1">
                <label>
                    Type
                </label>
                    <select class="form-control dropdown" formControlName="DetailTypeID">
                    <option>Select</option>
                    <option value="1">URL</option>
                    <option value="2">Email ID</option>
                    <option value="3">Phone Number</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                    Display Name
                </label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="DisplayName" placeholder="Enter display name">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                    Details
                </label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="Details" placeholder="Enter display name">
                        </div>
                    </div>        
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                 <button type="button" class="btn btn-danger m-t-15 waves-effect" *ngIf="offlineSellerForm.controls['Details'].length > 1" (click)="removeDetails(i)">Remove</button>
                </div>
                </div>
                <br>
            </div>
        </div>
        <!-- template for add row end  -->
        <div class="row clearfix">
            <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
                <button type="submit" class="btn btn-lg btn-success btn-block m-t-15 waves-effect" [disabled]="!offlineSellerForm.valid">Submit</button>
            </div>
        </div>
      </form>
      </div>
    </app-dialog>
</div>