.billImage{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}
.imageNumber{
    position: absolute;
    right: 30px;
    top:55px;
    z-index: 999;
    background-color:white;
    padding-left: 3px;
    padding-right: 3px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance: none; */
  margin: 0;
}