<div class="card">
    <div class="header">
        <h2>Add Detail Type</h2>
    </div>
    <div class="body">
        <form [formGroup]='createExclusionForm' (ngSubmit)="createCategory(createExclusionForm.value)">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <label>
                        Select Type
                    </label>
                    <div class="form-group">
                        <select class="form-control dropdown" formControlName="type" (change)="onSelect($event.target.value)">
                            <option [ngValue]="1"> URL</option>
                            <option [ngValue]="2"> Email ID</option>
                            <option [ngValue]="3"> Phone Number</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <label>
                        Display Name
                    </label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="title" (keyup)="avoidSpace('title')">
                        </div>
                        <p class="text-danger" *ngIf="!createExclusionForm.controls['title'].valid && createExclusionForm.controls['title'].touched">Name is required</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <input type="submit" value="ADD" class="btn btn-success  m-t-15 waves-effect" [disabled]="!createExclusionForm.valid">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="header">
        <h2>
            Detail Type List
            <small> For change the detail type click on the edit button</small>
        </h2>
    </div>
    <div class="body table-responsive">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let list of detail?.data; let i = index">
                <tr>
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ list.title}}</td>
                    <td *ngIf="list?.status_type=='1'">
                        <span class="label bg-green">Active</span>
                    </td>
                    <td *ngIf="list?.status_type=='2'">
                        <span class="label bg-red">InActive</span>
                    </td>
                    <td>
                        <span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="openCategoryModel(list)"
                            title="Edit">
                            <i class="material-icons">mode_edit</i>
                        </span>
                        <span class="btn btn-danger btn-circle waves-effect waves-circle waves-float" (click)="deleteCategory(list)" title="Delete">
                            <i class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-dialog [(visible)]="showDialog">
        <div class="modal-header">
            <h4 class="modal-title" id="smallModalLabel">Edit Detail Type </h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" [formGroup]='editExclusionForm' (ngSubmit)="updateExclusions(editExclusionForm.value)">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="name">Name</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" class="form-control" formControlName="title" placeholder="Enter your name">
                            </div>
                            <p class="text-danger" *ngIf="!editExclusionForm.controls['title'].valid && editExclusionForm.controls['title'].touched">Name is required</p>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="name">Status</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <select class="form-control dropdown" formControlName="status_type">
                                <option [ngValue]="1"> Active</option>
                                <option [ngValue]="2"> InActive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-offset-9 col-md-offset-9 col-sm-offset-4 col-xs-offset-5">
                        <input type="submit" value="Save Changes" class="btn btn-success  m-t-15 waves-effect" [disabled]="!editExclusionForm.valid">
                    </div>
                </div>
            </form>
        </div>
    </app-dialog>
</div>