<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img src="assets/images/user.png" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userTypeName}}</div>
            <div class="email">{{emailID}}</div>
            <div class="btn-group user-helper-dropdown" (click)="toggleState()" [ngClass]="{ 'open': isIn }">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                    <li role="seperator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">mode_edit</i>Edit Profile</a></li>
                    <li><a (click)="logoutFun()"><i class="material-icons">input</i>Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
<!-- #User Info -->
    <!-- Menu -->
        <app-left-panel-items></app-left-panel-items>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2017 <a href="javascript:void(0);">BinBill</a>.
        </div>
        <div class="version">
            <b>Version: </b> 2.0.1
        </div>
    </div>
    <!-- #Footer -->
</aside>
<!-- End Left Sidebar -->