        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="assets/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Super Admin</div>
                    <div class="email">admin@binbill.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">mode_edit</i>Edit Profile</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <!-- <li class="active">
                        <a href="index.html">
                            <i class="material-icons">dashboard</i>
                            <span>Dashboard</span>
                        </a>
                    </li> -->
                    <li>
                        <a href="javascript:void(0)" class="menu-toggle">
                            <i class="material-icons">accessibility</i>
                            <span>Customer Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a><span class="material-icons">view_list</span>&nbsp;Customer Lists</a>
                                <a><span class="material-icons">assignment</span>&nbsp;Customer Bills</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">headset_mic</i>
                            <span>Customer Care Exec. Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a><span class="material-icons">view_list</span>&nbsp;Customer Care Executive Lists</a>
                                <a><span class="material-icons">exposure_plus_1</span>&nbsp;Add Customer Care Executive </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">insert_emoticon</i>
                            <span>Quality Exec. Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a><span class="material-icons">view_list</span>&nbsp;Quality Executive Lists</a>
                                <a><span class="material-icons">exposure_plus_1</span>&nbsp;Add Quality Executive </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">build</i>
                            <span>Authorized Service Center Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a><span class="material-icons">view_list</span>&nbsp;Authorized Service Center Lists</a>
                                <a><span class="material-icons">exposure_plus_1</span>&nbsp;Add Authorized Service Center </a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2017 <a href="javascript:void(0);">BinBill Service Private Limited</a>
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->