<div class="card" *ngIf="showOnlineSellerList">
  <div class="header">
    <h2>
      Online Seller List
      <small> For change the Online Seller details click on the edit button</small>
    </h2>
  </div>
  <div class="body table-responsive">
    <table class="table table-condensed table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>URL</th>
          <th>GstinNo</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let list of onlineSeller?.data; let i = index">
        <tr>
          <th scope="row">{{ i+1 }}</th>
          <td>{{ list?.seller_name }}</td>
          <td>{{ list?.url }}</td>
          <td>{{ list?.gstin}}</td>
          <td *ngIf="list?.status_type=='1'"><span class="label bg-green">Active</span></td>
          <td *ngIf="list?.status_type=='2'"><span class="label bg-red">InActive</span></td>
          <td><span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="openOnlineSellerModel(list)" title="Edit"><i class="material-icons" >mode_edit</i></span>  <span class="btn btn-danger btn-circle waves-effect waves-circle waves-float" (click)="deleteOnlineSeller(list.sid)" title="Delete"><i class="material-icons">delete</i></span></td>                  
          <!-- <td><span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="openOnlineSellerModel(list)"
              title="Edit"><i class="material-icons" >mode_edit</i></span> </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card" *ngIf="!showOnlineSellerList">
  <div class="modal-header">
    <button class="btn bg-blue" (click)="back()">Back</button>
    <hr>
    <h4 class="modal-title" id="smallModalLabel">Edit Online Seller</h4>
    <div class="modal-body">
      <form class="form-horizontal" [formGroup]='onlineSellerForm' (ngSubmit)="updateOnlineSeller(onlineSellerForm.value)">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="name"><span style="color:red">*</span> Name</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="seller_name" class="form-control" placeholder="Enter brand name here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="description"><span style="color:red">*</span> URL</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" formControlName="url" placeholder="Enter URL of online Seller">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="description"><span style="color:red">*</span> GstinNo</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" formControlName="gstin" placeholder="Enter GstinNo of online seller">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                <label for="description">Contact</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" formControlName="contact" placeholder="Enter contact of online seller" (keyup)="avoidSpace('contact')">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                <label for="description">Email ID</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" formControlName="email" placeholder="Enter email of online seller" (keyup)="avoidSpace('email')">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                <label for="description">Status</label>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                      <select class="form-control dropdown" formControlName="status_type">
                          <option [ngValue]="1"> Active</option>
                          <option [ngValue]="2"> InActive</option>
                      </select>  
                    </div>    
                </div>
            </div>
        </div>
        <div class="row clearfix">
          <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
            <button type="submit" class="btn btn-lg btn-success btn-block m-t-15 waves-effect" [disabled]="!onlineSellerForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
