<div class="card">
    <div class="header">
        <h2>
            Add Service Center 
        </h2>
    </div>
    <div class="body">
      <form class="form-horizontal" [formGroup]='addserviceCenterForm' (ngSubmit) = "createOfflineSeller(addserviceCenterForm.value)">
        <h4> <u>Information </u></h4>
        <hr>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_name" class="form-control" placeholder="Enter Name  here" (keyup)="avoidSpace('Name')">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Select Brand</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                  <select class="form-control dropdown" formControlName="center_brands">
                    <option *ngFor="let brandList of brands?.data" [ngValue]="brand_id">{{ brandList.brand_name }}</option>
                  </select>
                </div>
            </div>
        </div>
        <h4> <u>Address </u></h4>
        <hr>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Address</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_address" class="form-control" placeholder="Enter Address here" (keyup)="avoidSpace('HouseNo')">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">City</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_city" class="form-control" placeholder="Enter City Name here" (keyup)="avoidSpace('Block')">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">State</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_state" class="form-control" placeholder="Enter State Name here"  (keyup)="avoidSpace('Street')">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Pin Code</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_pin" class="form-control" placeholder="Enter Pin Code here" (keyup)="avoidSpace('Sector')">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Latitude</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_latitude" class="form-control" placeholder="Enter Latitude here" (keyup)="avoidSpace('City')">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Longitude</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_longitude" class="form-control" placeholder="Enter Longitude here" (keyup)="avoidSpace('State')">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Country</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_country" class="form-control" placeholder="Enter Country Name here" (keyup)="avoidSpace('PinCode')">
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">NearBy</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="NearBy" class="form-control" placeholder="Enter NearBy here" (keyup)="avoidSpace('NearBy')">
                    </div>
                </div>
            </div>  -->
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">OpenDays</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_days" class="form-control" placeholder="Enter OpenDays  here" (keyup)="avoidSpace('OpenDays')">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Timings</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="center_timings" class="form-control" placeholder="Enter Timing here" (keyup)="avoidSpace('Timings')">
                    </div>
                </div>
            </div>
        </div>
        <!-- template for add row  -->
        <h4> <u>Details </u></h4>
        <div class="row clearfix">
            <div class="pull-right margin-right">
                <button type="button" class="btn btn-info m-t-15 waves-effect" (click)="addItem()">Add More Deatils</button>
                            <p>&nbsp;</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div formArrayName="Details" *ngFor="let item of addserviceCenterForm.controls.Details['controls']; let i = index;">
            <br>
                <div class="row clearfix" [formGroupName]="i">
                <div class="col-md-2 col-lg-2 col-md-offset-1">
                <label> Category </label>
                    <select class="form-control dropdown" formControlName="CategoryID">
                        <option *ngFor="let list of cat?.CategoryList" [ngValue]="list.ID">{{ list.category }}</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <label>
                    Type
                </label>
                    <select class="form-control dropdown" formControlName="DetailTypeID">
                    <option value="1">URL</option>
                    <option value="2">Email ID</option>
                    <option value="3">Phone Number</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                <label>
                    Display Name
                </label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="DisplayName" placeholder="Enter display name">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                    Details
                </label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="Detail" placeholder="Enter display name">
                        </div>
                    </div>        
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                 <button type="button" class="btn btn-danger m-t-15 waves-effect" *ngIf="addserviceCenterForm.controls['Detail'].length > 1" (click)="removeDetails(i)">Remove</button>
                </div>
                </div>
            </div>
        </div>
        <!-- template for add row end  -->
        <div class="row clearfix">
            <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
                <button type="submit" class="btn btn-lg btn-success btn-block m-t-15 waves-effect" [disabled]="!addserviceCenterForm.valid">Submit</button>
            </div>
        </div>
      </form>
    </div>
</div>