<div class="card" *ngIf="imageExist">
  <div class="body">
    <div class="row clearfix">
      <div class="col-md-6">
        <!-- <div class="row clearfix">
          <div class="col-md-12" style="height:450px;width:500px;">
            <img [src]="images[imageIndex]" class="img-responsive" alt="" id="image" style="border: 3px solid #555; padding:2px;">
          </div>
        </div> -->
        <table cellspacing="0" cellpadding="0" border="0" style="width: 100%; min-width: 320px;">
          <tr>
            <td style="padding: 10px">
              <div align="center">
                <img id="image" [src]="images[imageIndex]" width="100%" style="border: 3px solid #555; padding:2px;" />
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <div class="body">
          <!-- Controls Button Start -->
          <div>
            <div class="row">
              <div class="col-md-3">
                <button type="button" class="btn btn-success btn-block btn-md">
                      General Form
                    </button>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-info btn-block btn-md">
                      Seller Info
                    </button>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn bg-purple btn-block btn-md">
                      Product Info
                    </button>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-danger btn-block btn-md">
                    Product Form
                    </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <button type="button" class="btn bg-indigo btn-block btn-md">
                        Insurance Info
                      </button>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn bg-orange btn-block btn-md">
                        Warranty Info
                      </button>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn bg-green btn-block btn-md">
                        AMC Info
                      </button>
              </div>
              <div class="col-md-3">
                <button type="button" class="btn bg-brown btn-block btn-md">
                      Rapair Info
                      </button>
              </div>
            </div>
          </div>
          <!-- Controls Button End -->
          <!-- Controls Table Start -->
          <div>
            <div class="row">
              <div class="col-md-12 table-responsive">
                  <table class="table table-condensed table-striped table-bordered">
                      <thead>
                         <tr>
                            <th><small>Index</small></th>
                            <th><small>Type of Form</small></th>
                            <th><small>ID</small></th>
                            <th><small>Action</small></th>
                         </tr>
                      </thead>
                      <tbody>

                      </tbody>
                   </table>
              </div>
            </div>
          </div>
          <!-- Controls Table End -->
        </div>
      </div>
    </div>
  </div>
</div>
