<div class="card">
    <div class="header">
        <h2>
           Add New User
        </h2>
    </div>
    <!-- <pre>{{newUserForm.value | json}}</pre> -->
    <div class="body">
        <form class="form-horizontal" [formGroup]='newUserForm' (ngSubmit) = "addNewUser(newUserForm.value)">
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="email_address_2">Select User Type</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                    <select class="form-control dropdown" formControlName="UserType">
                        <option *ngFor="let user of users?.UserTypeList" [ngValue]="user.TypeID" >{{ user.Name }}</option>
                    </select>
                    </div>
                </div>  
            </div>
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="name">Name</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="Name" placeholder="Enter your name">
                        </div>
                        <p class="text-danger" *ngIf="!newUserForm.controls['Name'].valid && newUserForm.controls['Name'].touched">Name is required</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="email_address_2">Email ID</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="EmailID" placeholder="Enter your email address" required>
                        </div>
                        <p class="text-danger" *ngIf="!newUserForm.controls['EmailID'].valid && newUserForm.controls['EmailID'].touched">EmailID is required</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="password_2">Password</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="password" formControlName="Password" class="form-control" placeholder="Enter your password" required>
                        </div>
                        <p class="text-danger" *ngIf="!newUserForm.controls['Password'].valid && newUserForm.controls['Password'].touched">Password is required</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                    <input type="submit" value="SUBMIT" class="btn btn-primary m-t-15 waves-effect" [disabled]="!newUserForm.valid" >
                </div>
            </div>
        </form>
    </div>
</div>