<div class="card">
    <div class="header">
        <h2>
            Add New User
        </h2>
    </div>
    <!-- <pre>{{newUserForm.value | json}}</pre> -->
    <div class="body">
        <form class="form-horizontal" [formGroup]='newUserForm' (ngSubmit)="addNewUser(newUserForm.value)">
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="email_address_2">Select User Type</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <select class="form-control dropdown" formControlName="role_type">
                            <option [ngValue]="2"> Admin</option>
                            <option [ngValue]="3"> Quality Executive</option>
                            <option [ngValue]="4"> Customer Executive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="name">Name</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter your name">
                        </div>
                        <p class="text-danger" *ngIf="!newUserForm.controls['name'].valid && newUserForm.controls['name'].touched">Name is required</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="email_address_2">Email ID</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="email" placeholder="Enter your email address" required>
                        </div>
                        <p class="text-danger" *ngIf="!newUserForm.controls['email'].valid && newUserForm.controls['email'].touched">email is required</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                    <label for="password_2">password</label>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="password" formControlName="password" class="form-control" placeholder="Enter your password" required>
                        </div>
                        <p class="text-danger" *ngIf="!newUserForm.controls['password'].valid && newUserForm.controls['password'].touched">password is required</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                    <input type="submit" value="SUBMIT" class="btn btn-primary m-t-15 waves-effect" [disabled]="!newUserForm.valid">
                </div>
            </div>
        </form>
    </div>
</div>