<div class="body">
  <form #productForm="ngForm" (ngSubmit)="productFormData(productForm)">
    <h5>
      <u>Product Form</u>
    </h5>
    <div class="row clearfix">
      <div *ngFor="let form of productMainForm?.FormList; let i = index">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>{{ form.ElementName}}</b></small>
        </div>
        <div class="col-lg-4 col-md-4" *ngIf="form?.Type == 1">
          <div class="form-group">
            <div class="form-line">
              <input type="text" name="{{form.FormID}}" class="form-control input_fix" ngModel>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4" *ngIf="form?.Type == 2">
          <select class="form-control dropdown" name="{{form.FormID}}" ngModel>
            <ng-container *ngFor="let droplist of productMainForm?.List">
               <option *ngIf="form.FormID == droplist.FormID" ngValue="{{droplist.DropdownID}}" >{{droplist.DropdownName}}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-md btn-warning m-t-15" *ngIf="saved">Save</button>
        <button type="button" class="btn bg-green btn-circle waves-effect waves-circle waves-float" *ngIf ="!saved">
            <i class="material-icons">done</i>
        </button>
        <button class="btn btn-md btn-info m-t-15 waves-effect" routerLink="i" [queryParams]="{ID:productFormID}">Insurance</button>
        <button class="btn btn-md btn-info m-t-15 waves-effect" routerLink="w" [queryParams]="{ID:productFormID}">Warranty</button>
        <button class="btn btn-md btn-info m-t-15 waves-effect" routerLink="a" [queryParams]="{ID:productFormID}">AMC</button>
        <button class="btn btn-md btn-info m-t-15 waves-effect" routerLink="r" [queryParams]="{ID:productFormID}">Repair/Services</button>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 ">
        <button routerLink="review" [queryParams]="{ID:productFormID}" class="btn btn-md btn-success btn-block m-t-15 waves-effect">Review Data and Add Bill</button>
      </div>
    </div>
    </form>
</div>
