<div class="card">
    <div class="header">
        <h2>
            Create Color
        </h2>
    </div>
    <div class="body">
        <form [formGroup]='colorForm' (ngSubmit) = "createColor(colorForm.value)">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 form-control-label">
                        <label>
                            Color Name
                        </label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="colour_name" (keyup)="avoidSpace('colour_name')" >
                        </div>
                        <p class="text-danger" *ngIf="!colorForm.controls['colour_name'].valid && colorForm.controls['colour_name'].touched">Color Name is required</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <input type="submit" value="CREATE" class="btn btn-success  m-t-15 waves-effect" [disabled]="!colorForm.valid" >
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
  <div class="header">
      <h2>
          Color List
          <small> For change the color details click on the edit button</small>
      </h2>
  </div>
  <div class="body table-responsive">
      <table class="table table-condensed">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Action</th>
              </tr>
          </thead>
           <tbody *ngFor="let list of color?.ColorList; let i = index">
              <tr>
                  <th scope="row">{{ i+1 }}</th>
                  <td>{{ list.Name }}</td>
                  <td><span class="btn btn-danger btn-circle waves-effect waves-circle waves-float" (click)="deleteCategory(list)" title="Delete"><i class="material-icons">delete</i></span></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>