<div class="card">
    <div class="header">
        <h2>
            Add Online Seller
        </h2>
        <p><span style="color:red">*</span> is required.</p>
    </div>
    <div class="body">
      <form class="form-horizontal" [formGroup]='onlineSellerForm' (ngSubmit) = "createOnlineSeller(onlineSellerForm.value)">
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name"><span style="color:red">*</span> Name</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="seller_name" class="form-control" placeholder="Enter Seller name here" (keyup)="avoidSpace('seller_name')">
                    </div>
                    <!-- <div *ngIf="onlineSellerForm.hasError('whitespace')">Please enter Valid Data</div> -->
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="description"><span style="color:red">*</span> URL</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" formControlName="url" placeholder="Enter url of online seller" (keyup)="avoidSpace('url')">
                    </div>
                </div>
            </div>
        </div>
         <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="description"><span style="color:red">*</span> GstinNo</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" formControlName="gstin" placeholder="Enter GstinNo of online seller" (keyup)="avoidSpace('gstin')">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="description">Contact</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" formControlName="contact" placeholder="Enter contact of online seller" (keyup)="avoidSpace('contact')">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="description">Email ID</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" class="form-control" formControlName="email" placeholder="Enter email of online seller" (keyup)="avoidSpace('email')">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
                <button type="submit" class="btn btn-lg btn-success btn-block m-t-15 waves-effect" [disabled]="!onlineSellerForm.valid">Submit</button>
            </div>
        </div>
      </form>
    </div>
</div>