.assign{
    /* width: 300px; */
    /* position: absolute; */
    /* margin-left: 597px; */
    background: lightgray;
    margin-top: 8px;
    /* top: 275px; */
}
.card-body{
    padding:1rem
}
.cross{
    position: absolute;
    right: 380px;
    top: 20px;
}
.billImage{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    
}
.imageNumber{
    position: absolute;
    right: 30px;
    top:55px;
    z-index: 999;
    background-color:white;
    padding-left: 3px;
    padding-right: 3px;
}
