<div class="card">
  <div class="header">
    <h2>
      Add Offline Seller
    </h2>
  </div>
  <div class="body">
    <form class="form-horizontal" [formGroup]='offlineSellerForm' (ngSubmit)="createOfflineSeller(offlineSellerForm.value)">
      <h4>
        <u>Information </u>
      </h4>
      <hr>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name"><span style="color:red">*</span> Name</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="seller_name" class="form-control" placeholder="EnterName here" (keyup)="avoidSpace('seller_name')">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Owner Name</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="owner_name" class="form-control" placeholder="Enter Owner Name here" (keyup)="avoidSpace('owner_name')">
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Gstin No</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="gstin" class="form-control" placeholder="Enter GstinNo here" (keyup)="avoidSpace('gstin')">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Pan No</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="pan_no" class="form-control" placeholder="Enter Pan No here" (keyup)="avoidSpace('pan_no')">
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Reg No</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="reg_no" class="form-control" placeholder="Enter RegNo here" (keyup)="avoidSpace('reg_no')">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">is Service?</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
                <select class="form-control dropdown" formControlName="is_service">
                    <option [ngValue]="true"> Yes</option>
                    <option [ngValue]="false"> No</option>
                </select>          
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Is Onboarded?</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <select class="form-control dropdown" formControlName="is_onboarded">
                <option [ngValue]="true"> Yes</option>
                <option [ngValue]="false"> No</option>
              </select>   
            </div>
          </div>
        </div>
      </div>
      <h4>
        <u>Address </u>
      </h4>
      <hr>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Address</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="address" class="form-control" placeholder="Enter House No here" (keyup)="avoidSpace('address')">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">City</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="city" class="form-control" placeholder="Enter City Name here" (keyup)="avoidSpace('city')">
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">State</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="state" class="form-control" placeholder="Enter State Name here" (keyup)="avoidSpace('state')">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">PinCode</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="pincode" class="form-control" placeholder="Enter PinCode here" (keyup)="avoidSpace('pincode')">
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Latitude</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="latitude" class="form-control" placeholder="Enter Lattitude Name here" (keyup)="avoidSpace('latitude')">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Longitude</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="longitude" class="form-control" placeholder="Enter Longitude here" (keyup)="avoidSpace('longitude')">
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">URL</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="url" class="form-control" placeholder="Enter URL here" (keyup)="avoidSpace('url')">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Email</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="email" class="form-control" placeholder="Enter Email here" (keyup)="avoidSpace('email')">
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Contact No.</label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
          <div class="form-group">
            <div class="form-line">
              <input type="text" formControlName="contact_no" class="form-control" placeholder="Enter Phone No. here" (keyup)="avoidSpace('contact_no')">
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
          <button type="submit" class="btn btn-lg btn-success btn-block m-t-15 waves-effect" [disabled]="!offlineSellerForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
