<div class="card">
  <!-- <div class="header">
    <h2>Bill Form</h2>
  </div> -->
  <div class="body">
    <div class="row clearfix">
      <!-- Image Slider Start -->
      <div class="col-md-4">
        <p>{{message}}</p>
        <section>
          <swiper class="swiper" [config]="config">
            <div class="swiper-wrapper test">
              <img class="swiper-slide" *ngFor="let image of images" [src]="image" (click)="getCurrentImage(image)" style="cursor:pointer">
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </swiper>
        </section>
      </div>
      <!-- Image Slider END -->
      <!-- Form 1 Start -->
      <div class="col-md-8">
        <router-outlet></router-outlet>
      </div>
      <!-- Form 1 END -->

    </div>
  </div>
</div>
