<div class="card">
  <div class="body">
    <div class="row clearfix">
      <div class="col-md-4">
        <div class="row clearfix" style="overflow:hidden ">
          <div class="col-md-12" style="height:450px;width:500px">
              <img class="zindex" [src]="images[imageIndex]" alt="" [style.width.%]="width" [style.height.%]="height" [style.transform]="'rotate(' + imagerotation + 'deg)'" ngDraggable (started)="onDragBegin($event)" (stopped)="onDragEnd($event)" ngDraggable>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-3">
            <button class="btn btn-warning btn-block" (click)="prevImage()">Prev</button>
          </div>
          <div class="col-md-3">
              <button class="btn btn-default btn-block" (click)="zoomOut()">-</button>
          </div>
          <div class="col-md-3">
              <button class="btn btn-default btn-block" (click)="zoomIn()">+</button>
          </div>
          <div class="col-md-3">
            <button class="btn btn-warning btn-block" (click)="nextImage()">Next</button>
          </div>
        </div>
        <div class="row clearfix" *ngIf="CELogin">
            <div class="col-md-3">
                <button class="btn btn-info" (click)="rotate()">Rotate</button>
              </div>
            <div class="col-md-3">
              <button class="btn btn-danger" (click)="discard()">Discard</button>
            </div>
            <div class="col-md-3">
              <a href="{{images[imageIndex]}}"><button class="btn btn-info">Download</button></a>
            </div>
            <div class="col-md-3">
              <button class="btn btn-success" (click)="select()">Select</button>
            </div>
          </div>
      </div>
      <div class="col-md-8">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
