<div>
  <form>
    <h4>
      <u>Seller</u>
      <u>Information </u>
    </h4>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <label>Seller Type</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
        <div class="form-group">
          <select class="form-control dropdown" (change)="selectSellerType($event.target.value)">
              <option>Select</option>
                <option value="online">Online Seller</option>
                <option value="offline">Offline Seller</option>
            </select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <label>Select Seller</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
        <div class="form-group">
          <select class="form-control dropdown" (change)="selectSeller($event.target.value)">
                <option>Select</option>
                  <option *ngFor = "let seller of sellerList">{{ seller.Name }}</option>
              </select>
        </div>
      </div>
    </div>
    <u>
      <p class="text-center font-bold col-blue-grey">OR</p>
    </u>
    <u>
      <p class="font-bold col-blue-grey">Create a Seller</p>
    </u>

    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <label>Seller Type</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
        <div class="form-group">
          <select class="form-control dropdown" (change)="selectSellerType2($event.target.value)">
                  <option>Select</option>
                    <option value="online">Online Seller</option>
                    <option value="offline">Offline Seller</option>
                </select>
        </div>
      </div>
    </div>
    <!-- online seller -->
    <div class="body" *ngIf="sellerFormType =='online'">
      <form class="form-horizontal" [formGroup]='onlineSellerForm' (ngSubmit)="createOnlineSeller(onlineSellerForm.value)">
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="name">Name</label>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="Name" class="form-control" placeholder="Enter Seller name here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="description">URL</label>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" formControlName="URL" placeholder="Enter url of online seller">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="description">GstinNo</label>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" formControlName="GstinNo" placeholder="Enter GstinNo of online seller">
              </div>
            </div>
          </div>
        </div>
        <!-- template for add row  -->
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="Details">Details</label>
          </div>
          <div class="pull-right margin-right">
            <button type="button" class="btn btn-info m-t-15 waves-effect" (click)="addItemOnline()">Add More Deatils</button>
          </div>
        </div>
        <div class="panel panel-default">
          <div formArrayName="Details" *ngFor="let item of onlineSellerForm.controls.Details['controls']; let i = index;">
            <br>
            <div class="row clearfix" [formGroupName]="i">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-md-offset-1 col-sm-offset-1 col-lg-offset-1">
                <label>
                      Type
                  </label>
                <select class="form-control dropdown" formControlName="DetailTypeID">
                      <option selected>Select</option>
                      <option value="1">URL</option>
                      <option value="2">Email ID</option>
                      <option value="3">Phone Number</option>
                      </select>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                      Display Name
                  </label>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" formControlName="DisplayName" placeholder="Enter display name">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                      Details
                  </label>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" formControlName="Details" placeholder="Enter display name">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <button type="button" class="btn btn-danger m-t-15 waves-effect" *ngIf="onlineSellerForm.controls['Details'].length > 1"
                  (click)="removeDetailsOnline(i)">Remove</button>
              </div>
            </div>
          </div>
        </div>
        <!-- template for add row end  -->
        <div class="row clearfix">
          <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
            <button type="submit" class="btn btn-lg btn-warning btn-block m-t-15 waves-effect" [disabled]="!onlineSellerForm.valid">Add Online Seller</button>
          </div>
        </div>
      </form>
    </div>
    <!-- end online seller -->
    <!-- offline seller -->
    <div class="body" *ngIf="sellerFormType=='offline'">
      <form class="form-horizontal" [formGroup]='offlineSellerForm' (ngSubmit) = "createOfflineSeller(offlineSellerForm.value)">
        <h4> <u>Information </u></h4>
        <hr>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Name" class="form-control" placeholder="Enter Name  here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Owner Name</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="OwnerName" class="form-control" placeholder="Enter Owner Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Gstin No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="GstinNo" class="form-control" placeholder="Enter GstinNo here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Pan No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="PanNo" class="form-control" placeholder="Enter Pan No here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Reg No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="RegNo" class="form-control" placeholder="Enter RegNo here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Service Provider</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="ServiceProvider" class="form-control" placeholder="Enter Service Provider Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Onboarded</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Onboarded" class="form-control" placeholder="Enter Onboarded here">
                    </div>
                </div>
            </div>
        </div>
        <h4> <u>Address </u></h4>
        <hr>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">House No</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="HouseNo" class="form-control" placeholder="Enter House No here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Block</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Block" class="form-control" placeholder="Enter Block Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Street</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Street" class="form-control" placeholder="Enter Street Name here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Sector</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Sector" class="form-control" placeholder="Enter Sector here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">City</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="City" class="form-control" placeholder="Enter City Name here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">State</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="State" class="form-control" placeholder="Enter State Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">PinCode</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="PinCode" class="form-control" placeholder="Enter PinCode here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">NearBy</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="NearBy" class="form-control" placeholder="Enter NearBy Name here">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Lattitude</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Lattitude" class="form-control" placeholder="Enter Lattitude Name here">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                <label for="name">Longitude</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-7">
                <div class="form-group">
                    <div class="form-line">
                        <input type="text" formControlName="Longitude" class="form-control" placeholder="Enter Longitude here">
                    </div>
                </div>
            </div>
        </div>
        <!-- template for add row  -->
        <h4> <u>Details </u></h4>
        <div class="row clearfix">
            <div class="pull-right margin-right">
                <button type="button" class="btn btn-info m-t-15 waves-effect" (click)="addItemOffline()">Add More Deatils</button>
                            <p>&nbsp;</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div formArrayName="Details" *ngFor="let item of offlineSellerForm.controls.Details['controls']; let i = index;">
            <br>
                <div class="row clearfix" [formGroupName]="i">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-md-offset-1 col-sm-offset-1 col-lg-offset-1">
                <label>
                    Type
                </label>
                    <select class="form-control dropdown" formControlName="DetailTypeID">
                    <option selected>Select</option>
                    <option value="1">URL</option>
                    <option value="2">Email ID</option>
                    <option value="3">Phone Number</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                    Display Name
                </label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="DisplayName" placeholder="Enter display name">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                    Details
                </label>
                    <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" formControlName="Details" placeholder="Enter display name">
                        </div>
                    </div>        
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                 <button type="button" class="btn btn-danger m-t-15 waves-effect" *ngIf="offlineSellerForm.controls['Details'].length > 1" (click)="removeDetailsOffline(i)">Remove</button>
                </div>
                </div>
            </div>
        </div>
        <!-- template for add row end  -->
        <div class="row clearfix">
            <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
                <button type="submit" class="btn btn-lg btn-success btn-block m-t-15 waves-effect" [disabled]="!offlineSellerForm.valid">Submit</button>
            </div>
        </div>
      </form>
    </div>
    <!-- end offline seller -->
    <div class="row clearfix">
      <div class=" col-lg-3 col-md-3 col-lg-offset-9 col-md-offset-9 col-sm-offset-4 col-xs-offset-5">
        <button type="submit" class="btn btn-md btn-info m-t-15 waves-effect" routerLink="p">Next</button>
        <button type="submit" class="btn btn-md btn-success m-t-15 waves-effect">Skip</button>
      </div>
    </div>
  </form>
</div>
