<div class="card" *ngIf="showBrandList">
    <div class="header">
      <h2>
        Brand List
        <small> For change the Brand details click on the edit button</small>
      </h2>
    </div>
    <div class="body table-responsive">
      <nav>
        <ul class="pager">
          <li [ngClass]="{ 'disabled': leftFlag }"><a class="waves-effect" (click)="left()" >Previous</a></li>
          <li [ngClass]="{ 'disabled': rightFlag }"><a class="waves-effect" (click)="right()">Next</a></li>
        </ul>
      </nav>
      <table class="table table-condensed table-bordered" *ngIf="!noData; else elseBlock">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let list of brands?.data; let i = index">
          <tr>
            <th scope="row">{{ i+offset}}</th>
            <td>{{ list?.brand_name }}</td>
            <td>{{ list?.brand_description }}</td>
            <td *ngIf="list?.status_type=='1'"><span class="label bg-green">Active</span></td>
            <td *ngIf="list?.status_type=='2'"><span class="label bg-red">InActive</span></td>
            <td><span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="openBrandModel(list)" title="Edit"><i class="material-icons" >mode_edit</i></span><span class="btn btn-danger btn-circle waves-effect waves-circle waves-float" (click)="deleteBrand(list?.brand_id)" title="Delete"><i class="material-icons">delete</i></span></td>            
            <!-- <td><span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="openBrandModel(list)" title="Edit"><i class="material-icons" >mode_edit</i></span></td> -->
          </tr>
        </tbody>
      </table>
      <ng-template #elseBlock>
        <h4> No Data Available </h4>
        </ng-template>
    </div>
</div>
<div class="card" *ngIf="!showBrandList">
    <div class="modal-header">
      <button class="btn bg-blue" (click)="back()">Back</button>
      <hr>
      <h4 class="modal-title text-center bg-grey" id="smallModalLabel">Edit Brand</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" [formGroup]='editBrandForm' (ngSubmit)="updateBrand(editBrandForm.value)">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="name">Name</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="brand_name" class="form-control" placeholder="Enter brand name here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="description">Description</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" formControlName="brand_description" placeholder="Enter description of brand">
              </div>
            </div>
          </div>
        </div>
        <!-- template for add row  -->
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="Details">Details</label>
          </div>
          <div class="pull-right margin-right">
            <button type="button" class="btn btn-info m-t-15 waves-effect" (click)="addItem()">Add More</button>
          </div>
        </div>
        <br>
        <div class="panel panel-default">
          <div formArrayName="details" *ngFor="let item of editBrandForm.controls.details['controls']; let i = index;">
            <br>
            <div class="row clearfix" [formGroupName]="i">
              <div class="col-md-3 col-lg-3 col-md-offset-1">
              <label>
                  Category
              </label>
                <select class="form-control dropdown" formControlName="category_id">
                  <option>Select</option>
                  <option *ngFor="let list of cat?.data" [ngValue]="list.category_id">{{ list?.category_name }}</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                      Detail Type
                  </label>
                <select class="form-control dropdown" formControlName="detail_type">
                      <option selected>Select</option>
                      <option *ngFor="let list of detailType?.data" [ngValue]="list.id">{{ list?.title }}</option>                    
              </select>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                      Value
                  </label>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" formControlName="value" placeholder="Enter display name">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <button type="button" class="btn btn-danger m-t-15 waves-effect" *ngIf="editBrandForm.controls['details'].length > 1" (click)="removeDetails(i);removeItem(item,editBrandForm.value)">Remove</button>
              </div>
            </div>
            <br>
          </div>
        </div>
        <!-- template for add row end  -->
        <div class="row clearfix">
          <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
            <button type="submit" class="btn btn-lg btn-success btn-block m-t-15 waves-effect" [disabled]="!editBrandForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
</div>

