<div class="card">
  <div class="header">
    <h2>
      Brand List
      <small> For change the Brand details click on the edit button</small>
    </h2>
  </div>
  <div class="body table-responsive">
    <nav>
      <ul class="pager">
        <li [ngClass]="{ 'disabled': leftFlag }"><a class="waves-effect" (click)="left()" >Previous</a></li>
        <li [ngClass]="{ 'disabled': rightFlag }"><a class="waves-effect" (click)="right()">Next</a></li>
      </ul>
    </nav>
    <table class="table table-condensed table-bordered" *ngIf="!noData; else elseBlock">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let list of brands?.BrandList; let i = index">
        <tr>
          <th scope="row">{{ i+1 }}</th>
          <td>{{ list.Name }}</td>
          <td>{{ list.Description }}</td>
          <td><span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="openBrandModel(list)" title="Edit"><i class="material-icons" >mode_edit</i></span>            <span class="btn btn-danger btn-circle waves-effect waves-circle waves-float" (click)="deleteBrand(list)" title="Delete"><i class="material-icons">delete</i></span></td>
        </tr>
      </tbody>
    </table>
    <ng-template #elseBlock>
       <h4> No Data Available </h4>
      </ng-template>
  </div>
  <app-dialog [(visible)]="showDialog">
    <div class="modal-header">
      <h4 class="modal-title" id="smallModalLabel">Edit Brand</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" [formGroup]='editBrandForm' (ngSubmit)="updateBrand(editBrandForm.value)">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="name">Name</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" formControlName="Name" class="form-control" placeholder="Enter brand name here">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="description">Description</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control" formControlName="Description" placeholder="Enter description of brand">
              </div>
            </div>
          </div>
        </div>
        <!-- template for add row  -->
        <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <label for="Details">Details</label>
          </div>
          <div class="pull-right margin-right">
            <button type="button" class="btn btn-info m-t-15 waves-effect" (click)="addItem()">Add More</button>
          </div>
        </div>
        <br>
        <div class="panel panel-default">
          <div formArrayName="Details" *ngFor="let item of editBrandForm.controls.Details['controls']; let i = index;">
            <br>
            <div class="row clearfix" [formGroupName]="i">
              <div class="col-md-2 col-lg-2 col-md-offset-1">
                <label>
                    Category
                </label>
                <select class="form-control dropdown" formControlName="CategoryID">
                  <option>Select</option>
                  <option *ngFor="let list of cat?.CategoryList" [ngValue]="list.ID">{{ list.category }}</option>
                </select>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                <label>
                    Type
                </label>
                <select class="form-control dropdown" formControlName="DetailTypeID">
                    <option selected>Select</option>
                    <option value="1">URL</option>
                    <option value="2">Email ID</option>
                    <option value="3">Phone Number</option>
                </select>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
                <label>
                    Display Name
                </label>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" formControlName="DisplayName" placeholder="Enter display name">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 ">
                <label>
                    Details
                </label>
                <div class="form-group">
                  <div class="form-line">
                    <input type="text" class="form-control" formControlName="Details" placeholder="Enter display name">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <button type="button" class="btn btn-danger m-t-15 waves-effect" *ngIf="editBrandForm.controls['Details'].length > 1" (click)="removeDetails(i)">Remove</button>
              </div>
            </div>
            <br>
          </div>
        </div>
        <!-- template for add row end  -->
        <div class="row clearfix">
          <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
            <button type="submit" class="btn btn-lg btn-success btn-block m-t-15 waves-effect" [disabled]="!editBrandForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </app-dialog>
</div>
