<div class="card" *ngIf="showBrandList">
  <div class="header">
    <h2>
      Model List
      <small> For verify the Model List on the verify button</small>
    </h2>
  </div>
  <div class="body table-responsive">
    <div class="row">
      <div class="col-md-3">
        <label>
          Select Main Category
        </label>
        <div>
          <select class="form-control dropdown" (change)="onSelectMainCategory($event.target.value)">
            <option value="">Select</option>
            <option *ngFor="let mainCategoryList of mainCat?.data" [value]="mainCategoryList?.category_id">{{ mainCategoryList?.category_name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <label>
          Select Category
        </label>
        <div>
          <select class="form-control dropdown" (change)="onSelectCat2($event.target.value)">
            <option value="">Select</option>
            <option *ngFor="let categoryList of cat" [value]="categoryList?.category_id">{{ categoryList?.category_name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <label>
          Select Brand
        </label>
        <div>
          <select class="form-control dropdown" (change)="onSelectBrand($event.target.value)">
            <option value="">Select</option>
            <option *ngFor="let list of brandList" value="{{list?.brand_id}}">{{ list?.brand_name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <label>
          Select Status
        </label>
        <div>
          <select class="form-control dropdown" (change)="onSelectStatus($event.target.value)">
            <option value=''>Select</option>
            <option value=''>All</option>
            <option value='1'>Verified</option>
            <option value='2'>Un Verified</option>
            <option value='11'>User Created</option>
          </select>
        </div>
      </div>
      <div class="col-md-2" style="margin-top:25px;">
        <button class="btn btn-block btn-success" (click)="filter()">Submit</button>
      </div>
    </div>
    <nav>
      <ul class="pager">
        <li [ngClass]="{ 'disabled': leftFlag }">
          <a class="waves-effect" (click)="left()">Previous</a>
        </li>
        <li [ngClass]="{ 'disabled': rightFlag }">
          <a class="waves-effect" (click)="right()">Next</a>
        </li>
      </ul>
    </nav>
    <table class="table table-condensed table-bordered" *ngIf="!noData; else elseBlock">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let list of dropdownModels?.data; let i = index">
        <tr>
          <th scope="row">{{ i+1+offset}}</th>
          <td>{{ list?.title }}</td>
          <td *ngIf="list?.status_type=='2'">
            <span class="label bg-red">Un Verified</span>
          </td>
          <td *ngIf="list?.status_type=='1'">
            <span class="label bg-green">Verified</span>
          </td>
          <td *ngIf="list?.status_type=='11'">
            <span class="label bg-orange">User Created</span>
          </td>
          <td>
            <span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="editBrand(list)" title="Edit">
              <i class="material-icons">mode_edit</i>
            </span>
            <span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="verifyBrand(list?.id)" title="Verify">
              <i class="material-icons">done</i>
            </span>
            <span class="btn btn-warning btn-circle waves-effect waves-circle waves-float" (click)="deleteBrand(list?.id)" title="Un Verify">
              <i class="material-icons">clear</i>
            </span>
            <span *ngIf="list?.status_type!=1" class="btn btn-danger btn-circle waves-effect waves-circle waves-float" (click)="deleteModel.open();onClickUserModel(list?.id,list?.category_id,list?.brand_id)"
              title="Delete">
              <i class="material-icons">delete</i>
            </span>
          </td>
          <!-- <td><span class="btn btn-info btn-circle waves-effect waves-circle waves-float" (click)="openBrandModel(list)" title="Edit"><i class="material-icons" >mode_edit</i></span></td> -->
        </tr>
      </tbody>
    </table>
    <ng-template #elseBlock>
      <h4> No Data Available </h4>
    </ng-template>
  </div>
</div>


<div *ngIf="showEditForm">
  <button class="btn bg-blue" (click)="back()">Back</button>
  <form class="form-horizontal" [formGroup]='assignForm' (ngSubmit)="updateModels(assignForm.value)">
    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
        <label class="font-small">Category</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
        <div class="form-group" style="margin-top:10px;">
          <p>{{categoryName?.data?.category_name}}</p>
        </div>

      </div>
    </div>
    <br>

    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
        <label class="font-small">Brand List</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
        <div class="form-group">
          <select class="form-control dropdown mains" formControlName="brand_id">
            <option value="">Select</option>
            <option *ngFor="let list of brandList" value="{{list?.brand_id}}">{{ list?.brand_name }}</option>
          </select>
        </div>
      </div>
    </div>
    <br>

    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
        <label class="font-small">Model Name</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
        <div class="form-group">
          <input type="text" class="form-control mains" formControlName="title">
        </div>
      </div>
    </div>
    <br>

    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
        <label class="font-small">Warranty Type</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7 ">
        <div class="form-group">
          <select class="form-control dropdown mains" formControlName="warranty_renewal_type">
            <option [ngValue]="">Select</option>
            <option [ngValue]=7>6 Month</option>
            <option [ngValue]=8>1 Year</option>
            <option [ngValue]=22>1.5 Years</option>
            <option [ngValue]=9>2 Years</option>
            <option [ngValue]=10>3 Years</option>
            <option [ngValue]=11>4 Years</option>
            <option [ngValue]=12>5 Years</option>
            <option [ngValue]=13>6 Years</option>
            <option [ngValue]=14>7 Years</option>
            <option [ngValue]=15>8 Years</option>
            <option [ngValue]=16>9 Years</option>
            <option [ngValue]=17>10 Years</option>
            <option [ngValue]=18>15 Years</option>
            <option [ngValue]=19>20 Years</option>
            <option [ngValue]=20>50 Years</option>
            <option [ngValue]=21>Lifetime</option>
          </select>
        </div>
      </div>
    </div>
    <br>

    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
        <label class="font-small">Dual Warranty Type</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
        <div class="form-group">
          <select class="form-control dropdown mains" formControlName="dual_renewal_type">
            <option value="">Select</option>
            <option value=7>6 Month</option>
            <option value=8>1 Year</option>
            <option value=22>1.5 Years</option>
            <option value=9>2 Years</option>
            <option value=10>3 Years</option>
            <option value=11>4 Years</option>
            <option value=12>5 Years</option>
            <option value=13>6 Years</option>
            <option value=14>7 Years</option>
            <option value=15>8 Years</option>
            <option value=16>9 Years</option>
            <option value=17>10 Years</option>
            <option value=18>15 Years</option>
            <option value=19>20 Years</option>
            <option value=20>50 Years</option>
            <option value=21>Lifetime</option>
          </select>
        </div>
      </div>
    </div>
    <br>

    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
        <label class="font-small">Product Type</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
        <div class="form-group">
          <input type="text" class="form-control mains" formControlName="product_type">
        </div>
      </div>
    </div>
    <br>

    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
        <label class="font-small">Category Form1 Value</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4  col-xs-4 ">
        <div class="form-group">
          <input type="text" class="form-control mains" formControlName="category_form_1_value">
        </div>
      </div>
    </div>
    <br>


    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
        <label class="font-small">Category Form2 Value</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-7">
        <div class="form-group">
          <input type="text" class="form-control mains" formControlName="category_form_2_value">
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-11 text-center" style="padding:4%;margin-left:6%;">
        <button class="btn bg-green btn-md btn-lg" type="submit">Update Model</button>
      </div>
    </div>
  </form>
</div>
<modal #deleteModel [closeOnOutsideClick]="true" modalClass="modal-md">
  <modal-content>
    <label>
      Replace this Model to existing one
    </label>
    <div class="row">
      <div class="col-md-6">
        <div>
          <select class="form-control dropdown" (change)="onSelectModel($event.target.value)">
            <option>Select Model</option>
            <option *ngFor="let list of activeModels?.data; let i = index" [value]="list?.id">{{list?.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-info btn-block btn-md" (click)="linkModel();deleteModel.close()">Replace</button>
      </div>
    </div>
  </modal-content>
</modal>