<div class="card">
  <div class="card-body">
    <div class="col-sm-12" *ngIf="jobDetails?.products[0]?.seller_id==null">
      <form #verifySellerForm="ngForm" (ngSubmit)="verifySeller(verifySellerForm)">
        <div class="form-group row">
          <div class="col-sm-4 col-form-label" *ngIf="sellers.length > 0">
            <label> Seller</label>
          </div>
          <div class="col-sm-8" *ngIf="sellers.length > 0">
            <select class="form-control" name="seller_id" ngModel>
              <option value="">Select Seller</option>
              <option *ngFor="let seller of sellers" [value]="seller.sid">{{seller?.seller_name}}</option>
            </select>
          </div>
          <div class="col-sm-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Bill Date</label>
              <div class="col-sm-8" style="margin-top: 10px">
                <label>{{jobDetails?.products[0]?.document_date | date}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Bill Time</label>
              <div class="col-sm-8" style="display: -webkit-box">
                <input name="hours" type="number" class="form-control " placeholder="HH" style="width: 45px" ngModel>
                <input name="mins" type="number" class="form-control " placeholder="MM" style="width: 45px" ngModel>
                <input name="seconds" type="number" class="form-control " placeholder="SS" style="width: 45px" ngModel>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Document No</label>
              <div class="col-sm-6">
                <input name="document_number" type="text" class="form-control" ngModel>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Gstin</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="gstin" ngModel>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-md btn-success" type="submit">Verify</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="!jobDetails?.products[0]?.document_number">
      <div class="col-md-12" *ngIf="jobDetails?.products[0]?.seller_id!=null">
        <ul class="list-arrow">
          <li>
            <span class="text-info">Name : </span>{{jobDetails?.seller[0]?.seller_name}}
          </li>
          <li>
            <span class="text-info">Address : </span>{{jobDetails?.seller[0]?.address}}
          </li>
          <li>
            <span class="text-info">Gstin : </span>{{jobDetails?.seller[0]?.gstin || blank}}
          </li>
          <li>
            <span class="text-info">Document Date : </span>{{jobDetails?.products[0]?.document_date | date}}
          </li>
          <li>
            <span class="text-info">Document Number : </span>{{jobDetails?.products[0]?.document_number || blank}}
          </li>
        </ul>
        <form #verifySellerForm="ngForm" (ngSubmit)="verifySeller(verifySellerForm)">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bill Time</label>
            <div class="col-sm-8" style="display: -webkit-box">
              <input name="hours" type="number" class="form-control " placeholder="HH" style="width: 45px" ngModel>
              <input name="mins" type="number" class="form-control " placeholder="MM" style="width: 45px" ngModel>
              <input name="seconds" type="number" class="form-control " placeholder="SS" style="width: 45px" ngModel>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Document No</label>
            <div class="col-sm-6">
              <input name="document_number" type="text" class="form-control" ngModel>
            </div>
          </div>
          <div style="float: right;">
            <button class="btn btn-xs btn-success" type="submit">Verify Seller</button>&nbsp;&nbsp;
            <button class="btn btn-xs btn-danger">Seller Mismatch</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>