<div>
  <form>
    <h4>
      <u>General</u>
      <u>Information </u>
    </h4>
    <hr>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Name : </b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" class="form-control input_fix">
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Phone No</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" class="form-control input_fix">
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Email ID : </b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" class="form-control input_fix">
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Invoice Number</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" class="form-control input_fix">
          </div>
        </div>
      </div> -->
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Invoice Number: </b></small>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control input_fix">
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <small><b>Total Value :</b></small>
        </div>
        <div class="col-lg-4 col-md-4 ">
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control input_fix">
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Taxes </b></small>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control input_fix">
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
            <small><b>Date of Purchase :</b></small>
          </div>
          <div class="col-lg-4 col-md-4 ">
            <div class="form-group">
              <div class="form-line">
                <input type="text" class="form-control input_fix">
              </div>
            </div>
          </div>
        </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-lg-offset-10 col-md-offset-10 col-sm-offset-4 col-xs-offset-5">
        <button type="submit" class="btn btn-md btn-info m-t-15 waves-effect" routerLink="sellerInfo">Add Seller</button>
      </div>
    </div>
  </form>
</div>
