<div>
  <form #generalForm="ngForm" (ngSubmit)="generalFormData(generalForm)">
    <h4>
      <u>General</u>
      <u>Information </u>
    </h4>
    <hr>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Name : </b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="Name" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Phone No</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="PhoneNo" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Email ID : </b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="EmailID" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Invoice Number: </b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="InvoiceNo" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Total Value :</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="TotalValue" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Taxes </b></small>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="Taxes" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
        <small><b>Date of Purchase :</b></small>
      </div>
      <div class="col-lg-4 col-md-4 ">
        <div class="form-group">
          <div class="form-line">
            <input type="text" name="DateofPurhase" class="form-control input_fix" ngModel>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
          <button type="submit" class="btn btn-md btn-success m-t-15 waves-effect">Submit</button>
        <button class="btn btn-md btn-info m-t-15 waves-effect" routerLink="s">Add Seller </button>
      </div>
    </div>
  </form>
</div>
