.dropdown {
  border-bottom: 1px solid #ccc;
}
.pager {
  text-align: right;
}
.textareaDitto {
  height: 100px;
  width: 500px;
  word-break: break-word;
}
.disabled {
  display: none;
}
.modal .modal-content {
  height: 600px !important;
}
.comment {
  max-width: 250px;
  overflow-wrap: break-word;
}
