<div class="card">
  <div class="header">
    <h2>
      New Bill List
      <small> For assign  the bill click on the assign button</small>
    </h2>
  </div>
  <div class="body table-responsive">
    <nav>
      <ul class="pager">
        <li [ngClass]="{ 'disabled': leftFlag }"><a class="waves-effect" (click)="left()">Previous</a></li>
        <li [ngClass]="{ 'disabled': rightFlag }"><a class="waves-effect" (click)="right()">Next</a></li>
      </ul>
    </nav>
    <table class="table table-condensed" *ngIf="!noData; else elseBlock">
      <thead>
        <tr>
          <th>#</th>
          <th>Bill No.</th>
          <th>Name</th>
          <th>Phone No.</th>
          <th>Email ID</th>
          <th>Bill Date</th>
          <th>Comments</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let bill of billList?.BillList; let i = index">
        <tr>
          <th scope="row">{{ i+1+prev }} </th>
          <td>{{ bill?.BillNo}}</td>
          <td>{{ bill?.Name}}</td>
          <td>{{ bill?.PhoneNo}}</td>
          <td>{{ bill?.EmailID}}</td>
          <td>{{ bill?.BillDate | date}}</td>
          <td>{{ bill?.Comments}}</td>
          <td><button type="button" class="btn bg-indigo waves-effect" (click)="openModel(bill)" *ngIf="userType <=2">Assign</button>            <button type="button" class="btn bg-cyan waves-effect" routerLink="bills/{{ bill.BID }}" *ngIf="userType ==3 ">Add Bill</button>            <button type="button" class="btn bg-cyan waves-effect" routerLink="bills/{{ bill.BID }}/view" [queryParams]="{ uid : bill.CE_ID }"
              *ngIf="userType ==4 ">View Bill</button></td>
          <td><button type="button" class="btn bg-green waves-effect" (click)="imageView.open();openImageModel(bill)" *ngIf="userType <=2 ">View</button></td>
          <td><span class="btn btn-danger" (click)="discard(bill)" *ngIf="userType <=2">Discard</span></td>
        </tr>
      </tbody>
    </table>
    <ng-template #elseBlock>
      <h4> No Data Available </h4>
    </ng-template>
  </div>
  <app-dialog [(visible)]="showDialog">
    <div class="modal-header">
      <h4 class="modal-title" id="smallModalLabel">Assign Bill</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" [formGroup]='assignForm' (ngSubmit)="assignBill(assignForm.value)">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="email_address_2">Select CE</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <select class="form-control dropdown" formControlName="UID">
                  <option *ngFor="let user of users?.UserList" [ngValue]="user.ID" >{{ user.Name }}</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="name">Comments</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <textarea rows="5" cols="52" formControlName="Comments"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-offset-9 col-md-offset-9 col-sm-offset-4 col-xs-offset-5">
            <input type="submit" value="Assign" class="btn btn-success  m-t-15 waves-effect" [disabled]="!assignForm.valid">
          </div>
        </div>
      </form>
    </div>
  </app-dialog>
  <!-- for discard model -->
  <app-dialog [(visible)]="discardDialog">
    <div class="modal-header">
      <h4 class="modal-title" id="smallModalLabel">Discard JOB</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" [formGroup]='discardForm' (ngSubmit)="discardBill(discardForm.value)">
        <div class="row clearfix">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
            <label for="name">Comments</label>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
            <div class="form-group">
              <div class="form-line">
                <input formControlName="Comments" type="text" class="textareaDitto">
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-offset-10 col-md-offset-10 col-sm-offset-4 col-xs-offset-5">
            <input type="submit" value="Discard" class="btn btn-danger  m-t-15 waves-effect" [disabled]="!discardForm.valid">
          </div>
        </div>
      </form>
    </div>
  </app-dialog>
</div>
<modal #imageView [closeOnOutsideClick]="true" modalClass="modal-lg">
  <modal-content>
    <div *ngIf="!loader">
      <div class="body">
        <div class="row clearfix">
          <div class="col-md-12">
            <img [src]="images[imageIndex]" class="img-responsive" [style.transform]="'rotate(' + imagerotation + 'deg)'">
            <p></p>
          </div>
        </div>
      </div>
      <div class="caption">
        <p class="text-center">
          <button type="button" class="btn btn-info btn-sm waves-effect" (click)="prevImage()"><i class="material-icons">skip_previous</i><span>Prev</span></button>
          <button type="button" class="btn btn-warning btn-sm waves-effect" (click)="rotate()"><i class="material-icons">rotate_right</i><span>Rotate</span></button>
          <a href="{{images[imageIndex]}}"><button type="button" class="btn btn-success btn-sm waves-effect"><i class="material-icons">file_download</i><span>Download</span></button></a>
          <button type="button" class="btn btn-danger btn-sm waves-effect" (click)="alertBox.open();imageView.close()"><i class="material-icons">clear</i><span>Discard Image</span></button>
          <button type="button" class="btn btn-info btn-sm waves-effect" (click)="nextImage()"><i class="material-icons">skip_next</i><span>Next</span></button>
          <span style="margin-left:5px"><b>Image {{imageIndex+1}} of {{arrayLength}}</b></span>
        </p>
      </div>
    </div>
    <div class="text-center" *ngIf="loader">
      <h1>Please Wait ...</h1>
      <img src="../../../assets/images/loader.gif" alt="">
    </div>
  </modal-content>
</modal>
<modal #alertBox [closeOnOutsideClick]="true" modalClass="modal-md">
  <modal-content>
    <div class="body">
      <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                  <div class="form-line">
                      <input type="text" class="form-control" name="Comments" placeholder="Enter Comment"  #commentInput>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn bg-red btn-md btn-lg" type="submit" (click)="commentBoxData(commentInput.value);alertBox.close()">Discard Image</button>    
        </div>
      </div>
    </div>
  </modal-content>
</modal>
