<div class="card">
  <div class="header">
      <h2>
          New Bill List
          <small> For assign  the bill click on the assign button</small>
      </h2>
  </div>
  <div class="body table-responsive">
      <table class="table table-condensed">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Bill No.</th>
                  <th>Name</th>
                  <th>Phone No.</th>
                  <th>Email ID</th>
                  <th>Bill Date</th>
                  <th>Action</th>
                  <th></th>
              </tr>
          </thead>
          <tbody *ngFor="let bill of billList?.BillList; let i = index">
              <tr>
                  <th scope="row">{{ i+1 }} </th>
                  <td>{{ bill.BillNo}}</td>
                  <td>{{ bill.Name}}</td>
                  <td>{{ bill.PhoneNo}}</td>
                  <td>{{ bill.EmailID}}</td>
                  <td>{{ bill.BillDate | date}}</td>
                  <td><button type="button" class="btn bg-indigo waves-effect" (click)="openModel(bill)" *ngIf="userType <=2 ">Assign</button> <button type="button" class="btn bg-cyan waves-effect" routerLink = "bill/{{ bill.BID }}"  *ngIf="userType ==3 ">Add Bill</button> <button type="button" class="btn bg-cyan waves-effect" routerLink = "bill/{{ bill.BID }}/bv" [queryParams]="{ uid : bill.CE_ID }"  *ngIf="userType ==4 ">View Bill</button></td>
              </tr>
          </tbody>
      </table>
  </div>
        <app-dialog [(visible)]="showDialog">
        <div class="modal-header">
            <h4 class="modal-title" id="smallModalLabel">Assign Bill</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" [formGroup]='assignForm' (ngSubmit) = "assignBill(assignForm.value)">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="email_address_2">Select CE</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                        <select class="form-control dropdown" formControlName="UID">
                            <option *ngFor="let user of users?.UserList" [ngValue]="user.ID" >{{ user.Name }}</option>
                        </select>
                        </div>
                    </div>  
                </div>
                <br>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label">
                        <label for="name">Comments</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
                        <div class="form-group">
                            <div class="form-line">
                                <textarea rows="5" cols="52" formControlName="Comments"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-offset-9 col-md-offset-9 col-sm-offset-4 col-xs-offset-5">
                        <input type="submit" value="Assign" class="btn btn-success  m-t-15 waves-effect" [disabled]="!assignForm.valid" >
                    </div>
                </div>
            </form>
        </div>
    </app-dialog>
</div>