<div class="card">
  <div class="header">
    <h2>
      Add Service Scheduler
    </h2>
  </div>
  <div class="body">
    <form class="form-horizontal" [formGroup]='brandForm' (ngSubmit)="createBrand(brandForm.value)">
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Category</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-7">
          <select class="form-control dropdown" formControlName="category_id" (change)="onSelectCat($event.target.value)">
            <option>Select</option>
            <option *ngFor="let list of cat" [value]="list.category_id">{{ list.category_name }}</option>
          </select>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="name">Brand</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-7">
          <select class="form-control dropdown" formControlName="brand_id">
            <option>Select</option>
            <option *ngFor="let list of catForms" [value]="list.brand_id">{{ list.brand_name }}</option>
          </select>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 form-control-label">
          <label for="description">Title</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
          <div class="form-group">
            <div class="form-line" style=" margin-left: 7%;border: 1px solid #ccc;border-radius: 6px;">
              <input type="text" class="form-control" formControlName="title" placeholder="" (keyup)="avoidSpace('title')">
            </div>
          </div>
        </div>
      </div>
      <!-- template for add row  -->
      <div class="row clearfix">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
          <label for="Details">Details</label>
        </div>
        <div class="pull-right margin-right">
          <button type="button" class="btn btn-info m-t-15 waves-effect" (click)="addItem()">Add More Details</button>
        </div>
      </div>
      <div class="panel panel-default">
        <div formArrayName="details" *ngFor="let item of brandForm.controls.details['controls']; let i = index;">
          <br>
          <div class="row clearfix" [formGroupName]="i">
            <div class="col-md-2 col-lg-2 col-md-offset-1">
              <label>
                Service Number
              </label>
              <br>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" formControlName="service_number" placeholder="" (keyup)="avoidSpace('service_number')">
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
              <label>
                Service Type
              </label>
              <br>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" formControlName="service_type" placeholder="" (keyup)="avoidSpace('service_type')">
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
              <label>
                Distance
              </label>
              <br>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control" formControlName="distance" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 ">
              <label>
                Due Months
              </label>
              <br>
              <div class="form-group">
                <div class="form-line">
                  <input type="text" class="form-control mains" formControlName="due_in_months" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
              <button type="button" class="btn btn-danger m-t-15 waves-effect" *ngIf="brandForm.controls['details'].length > 1" (click)="removeDetails(i)">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <!-- template for add row end  -->
      <div class="row clearfix">
        <div class=" col-lg-3 col-md-3 col-lg-offset-8 col-md-offset-8 col-sm-offset-4 col-xs-offset-5">
          <button type="submit" class="btn btn-lg btn-success btn-block m-t-15 waves-effect" [disabled]="!brandForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>