<div class="card">
  <div class="header">
    <h2>
      Completed JOB List
      <small> For assign  the job click on the assign button</small>
    </h2>
  </div>
  <div class="body table-responsive">
    <nav>
      <ul class="pager">
        <li [ngClass]="{ 'disabled': leftFlag }"><a class="waves-effect" (click)="left()">Previous</a></li>
        <li [ngClass]="{ 'disabled': rightFlag }"><a class="waves-effect" (click)="right()">Next</a></li>
      </ul>
    </nav>
    <table class="table table-condensed" *ngIf="!noData; else elseBlock">
      <thead>
        <tr>
          <th>#</th>
          <th>Bill No.</th>
          <th>Name</th>
          <th>Phone No.</th>
          <th>Email ID</th>
          <th>JOB Date</th>
          <th>Comments</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody *ngFor="let bill of billList?.data; let i = index">
        <tr>
          <th scope="row">{{ i+1+prev }} </th>
          <td *ngIf="userType==1 || userType==2">{{ bill.user.job_id}}</td>
          <td *ngIf="userType==3">{{ bill.qe.job_id}}</td>
          <td *ngIf="userType==4">{{ bill.ce.job_id}}</td>
          
          <td *ngIf="userType==1 || userType==2">{{ bill.user.full_name}}</td>
          <td *ngIf="userType==3">{{ bill.qe.full_name}}</td>
          <td *ngIf="userType==4">{{ bill.ce.full_name}}</td>
          
          <td *ngIf="userType==1 || userType==2">{{ bill.user.mobile_no}}</td>
          <td *ngIf="userType==3">{{ bill.qe.mobile_no}}</td>
          <td *ngIf="userType==4">{{ bill.ce.mobile_no}}</td>       
          
          <td *ngIf="userType==1 || userType==2">{{ bill.user.email}}</td>
          <td *ngIf="userType==3">{{ bill.qe.email}}</td>
          <td *ngIf="userType==4">{{ bill.ce.email}}</td> 

          <td *ngIf="userType==1 || userType==2">{{ bill.user.updated_at | date}}</td>
          <td *ngIf="userType==3">{{ bill.qe.updated_at | date}}</td>
          <td *ngIf="userType==4">{{ bill.ce.updated_at | date}}</td>

          
          <td *ngIf="userType==1 || userType==2">{{ bill.user.comments}}</td>
          <td *ngIf="userType==3">{{ bill.qe.comments}}</td>
          <td *ngIf="userType==4">{{ bill.ce.comments}}</td>
          
          <td><button type="button" class="btn bg-green waves-effect" (click)="imageView.open();openImageModel(bill)">View</button></td>
        </tr>
      </tbody>
    </table>
    <ng-template #elseBlock>
      <h4> No Data Available </h4>
    </ng-template>
  </div>
</div>
<modal #imageView [closeOnOutsideClick]="true" modalClass="modal-lg">
  <modal-content>
    <div *ngIf="!loader">
      <div class="body">
        <div class="row clearfix" style="overflow:scroll">
          <div class="col-md-12" style="text-align:center;">
            <img [src]="images[imageIndex]" [style.transform]="'rotate(' + imagerotation + 'deg)'">
            <p></p>
          </div>
        </div>
      </div>
      <div class="caption">
        <p class="text-center">
          <button type="button" class="btn btn-info btn-sm waves-effect" (click)="prevImage()"><i class="material-icons">skip_previous</i><span>Prev</span></button>
          <button type="button" class="btn btn-warning btn-sm waves-effect" (click)="rotate()"><i class="material-icons">rotate_right</i><span>Rotate</span></button>
          <a href="{{images[imageIndex]}}" download><button type="button" class="btn btn-success btn-sm waves-effect"><i class="material-icons">file_download</i><span>Download</span></button></a>
          <!-- <button type="button" class="btn btn-danger btn-sm waves-effect" (click)="discardBillImage();imageView.close()"><i class="material-icons">clear</i><span>Discard Image</span></button> -->
          <button type="button" class="btn btn-info btn-sm waves-effect" (click)="nextImage()"><i class="material-icons">skip_next</i><span>Next</span></button>
          <span style="margin-left:5px"><b>Image {{imageIndex+1}} of {{arrayLength}}</b></span>
        </p>
      </div>
    </div>
    <div class="text-center" *ngIf="loader">
      <h1>Please Wait ...</h1>
      <img src="../../../assets/images/loader.gif" alt="">
    </div>
  </modal-content>
</modal>
